{% extends "../common/_base.html" %}

{% block cssadicional %}


<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}




<div class="b1">
	<div class="b1__banner">
		<div class="b1-slider">
			
			{% for row in "3"|get_range %}
			
			<div class="b1__item">
				<span class="b1__rectangle"></span>
				<span class="b1__banner-filtro"></span>
				<div class="b1__banner-img" style="background-image: url('{{ STATIC_URL}}img/banner.png')"></div>
				<div class="b1__banner-text">
					<div class="b1__banner-text-texto wancho"><h1 class="g-title-white">Más que un mueble, un concepto</h1></div>
					<div class="b1__banner-text-link">
						<a href="#" class="g-link-white">Ver catálogo</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="b1__text-scroll">
		<p>Scroll down</p>
	</div>
	<div class="b1__mouse-scroll">
		<span class="icon-scroll"></span>
	</div>
</div>





{% endblock %}
{% block jsfinal %}


<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
	$(function(){
		
		function b1SliderOwl(){
			var cantElement = $('.b1__item').length;
			if (cantElement > 1) {
				$('.b1-slider').addClass('owl-carousel')
					$('.owl-carousel').owlCarousel({
						loop: true,
						margin: 0,
						nav: true,
						dots:true,
						items: 1,
						smartSpeed: 500,
						navText:['',''],
						autoplay: true,
						animateIn: 'fadeIn',
						animateOut: 'fadeOut',
						// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
					});
				}       
			}

		b1SliderOwl()

	});
</script>
{% endblock %}
