{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 10 -->


	<div class="b10">
		<div class="b10-container wancho">
			<div class="b10__img">
				<figure class="b10_img-url">
					<img src="{{ STATIC_URL }}img/img-1.png" alt="">
				</figure>
			</div>
			<div class="b10__text">
				<div class="b10__text-title">
					<h2 class="g-subtitle-brown">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.</h2>
				</div>
				<div class="b10__text-content">
					<div class="b10__text-content-item">
							<p class="g-pg">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
					</div>
					<div class="b10__text-content-item">
							<p class="g-pg">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
					</div>
				</div>
				<div class="b10__text-link">
					<a href="#" class="g-link">ver catálogo</a>
				</div>
			</div>
		</div>
		<div class="b10__bg-text g-marquee">
			<p class="stroke-text">Sierra</p>
		</div>
	</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
