{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 11 -->


<div class="b11">
	<div class="b11__cnt wancho">
		<div class="b11__cnt-description">
			<div class="b11__cnt-description-title">
				<div class="breadcrumbs">
					<a href="#">
						<p><i class="icon-flecha-regresar"></i>Sierra / Contacto</p>
					</a>
				</div>
				<h1 class="g-title-black">Te inspiramos a crear tu espacio</h1>	
			</div>
			<div class="block-general">
				<div class="g-form">
					<div class="g-form-block">
						<label for="inputSelect">PLACEHOLDER</label>
						<select id="inputSelect" class="g-input-select">
							<option class="g-input-option" value="" disabled selected></option>
							<option class="g-input-option">Opción 1</option>
							<option class="g-input-option">Opción 2</option>
							<option class="g-input-option">Opción 3</option>
							<option class="g-input-option">Opción 4  </option>
						</select>
						<span class="icon-dropdown g-input-select-icon"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="b11__cnt-box grid">
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/15BA80C1-E8E2-470D-88EC-2AA3AC46D371.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5BB477E4-FBE0-4017-9B30-BA60693D2704.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/99AA1494-1D0A-4AAF-A06D-615953D7BE53.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/D299E837-79A6-4BA3-B87F-1436312E48E3.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/AE9A954D-42D0-4FF2-84AE-768874465078.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/F18B5059-FFA6-4219-9BD4-EBD4CBB996AB.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/44B9924A-FA99-495D-BB04-ACA1F5657808.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/1A1D849E-648B-4B55-BAB7-82B328CE0F8F.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/1EEB7F19-5A54-4BB6-B87E-F9011CB44A1D.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/96C88EBE-A2F0-49BC-B391-D6FDF322201E.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/FFC59769-3ABD-4E82-8899-E9FB0ACC2AC4.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BA0F543C-A8D0-4EFC-8BFE-19BC5B7C4983.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/D7338C9C-8ADA-4BF0-8C2E-A57D62D17B4C.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/824B865B-0A35-4E8F-A6A3-8EF7F71272A1.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/F702EB97-304F-4AC4-B2A4-7DD65C09EB80.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>
			<div class="b11__cnt-box-container grid-item">
				<a href="#">
					<figure class="b11__cnt-box-container-figure">
						<img class="b11__cnt-box-container-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/FF544A4C-A98C-4E91-9DAB-C1491B526BC5.png" alt="imagen de la caja">
					</figure>
					<div class="b11__cnt-box-container-letter">
						<p class="b11__cnt-box-container-letter-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
					</div>
				</a>
			</div>

		</div>
		<div>
			
		</div>
	</div>
</div>





{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/masonry.js"></script>
<script type="text/javascript">
	$(function(){
	});
	$(window).on("load",function(){
		console.log("hola")
		$('.grid').masonry({
		  // options
		  itemSelector: '.grid-item',
		  columnWidth: 250,
		  gutter: 25,
		});
	})
</script>
{% endblock %}
