{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 12 -->

<div class="b12 wancho">
	<p class="b12-text">
		Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
	</p>
	<div class="b12-slide">
		{% for row in "5"|get_range %}

		<div class="b12-slide-rectangle" id="{{loop.index}}">
			<img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
			<a class="b12-slide-rectangle-text1">Porfirio Castro</a>
		</div>
	
		{% endfor %}

	</div>
	<div class="b12-container">
		<div class="b12-container-img" >
			<img src="{{STATIC_URL}}img/lamp-2.png" width="436" height="427">
		</div>
		<div class="b12-container-right">
			<div class="b12-text-block1">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
			</div>
			<div class="b12-container-right-center">
				<div class="b12-text-block2">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
				</div>
				<div class="b12-text-block2">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
				</div>
			</div>
			<div class="b12-text-block3">Programa una cita
				<button >Contáctanos</button>
			</div>
		</div>
	</div>
	
</div>

<div class="b122 wancho">
	<h2 class="b122-text">Portafolio</h2>

	<div class="b122__cnt-list">
		<article class="b122__cnt-list-art">
			<figure class="b122__cnt-list-art-figure">
				<img class="b122__cnt-list-art-figure-img" src="{{ STATIC_URL }}img/rectangle-copy-b12.jpg" alt="imagen de muestra">
				<h3 class="b122__cnt-list-art-box-tittle">
						Porfirio Castro
				</h3>
				</figure>
			<div class="b122__cnt-list-art-box">
				<figure class="b122__cnt-list-art-box-figure">
					<img class="b122__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/0308F3B6-EFC4-4E52-9C56-0647FC5C986B.png" alt="imagen de material">
					</figure>
				<h3 class="b122__cnt-list-art-box-tittle">Amaro Casanovs</h3>
				
			</div>
		</article>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
	$(function(){
		
		function b12SliderOwl(){
			var cantElement = $('.b12-slide-rectangle').length;
			if (cantElement > 3) {
				$('.b12-slide').addClass('owl-carousel')
				$('.owl-carousel').owlCarousel({
					loop:false,
					margin:10,
					nav:false,
					center:true,
					items: 3,
					autoplay: false,
					/*
					dots:true,
					items: 1,
					smartSpeed: 500,
					navText:['',''],
					autoplay: true,
					animateIn: 'fadeIn',
					animateOut: 'fadeOut',
					*/// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
				});
			}       
		}

		b12SliderOwl()
		$('.b12-slide-rectangle').on("click",  function(){
			var id_owl = $(this).attr('id')
			id_owl = id_owl - 1
			$('.b12-slide').trigger('to.owl.carousel', id_owl)
			console.log("click")
		})
	});
</script>
{% endblock %}