{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 13 -->


<div class="container-b13">
	<!-- eliminar el primer div y el styl-->
	<div class="container-b13__group wancho2">
		<p class="container-b13__group__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
		<img src="{{STATIC_URL}}img/lamp-2.png" class="lamp-2" alt="">
	</div>
</div>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	
	function animationScroll(item, wrapper){
		var sc_top = $(this).scrollTop()
		var height_screen = $(window).height()
		var suma = (sc_top + height_screen) - 150
		var top_item = $(wrapper).offset().top
		if(suma > top_item){
			$(item).addClass('active')
		}
	}
	$(function(){
		$(window).on("scroll", function(){
			animationScroll(".container-b13__group__text, .lamp-2", ".container-b13__group")
		})
	});
</script>
{% endblock %}
