{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/validationform/validationEngine.jquery.css">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 15 -->

<div class="container-b15">
	<div class="container-b15__link wancho2">
		<a href="#">
			<p><i class="icon-flecha-regresar"></i>Sierra / Contacto</p>
		</a>
	</div>
	<div class="container-b15__group wancho3">
		<div class="container-b15__group__title">
			<h1 class="g-title-black">Ponte en contacto</h1>
		</div>
		<div class="container-b15__group__subtitle">
			<h4>Para más información, completa el siguiente formulario y nos pondremos en contacto contigo.</h4>
		</div>
		<form class="container-b15__group__form g-form validate-form">
			<div class="container-b15__group__form__bloque">
				<div class="g-form-block input-b15">
					<label for="Apellido-nombre">Apellidos y Nombres</label>
					<input type="text" id="Apellido-nombre" class="g-input-text validate[required]">
				</div>
				<div class="g-form-block input-b15">
					<label for="DNI">DNI</label>
					<input type="text" id="DNI" class="g-input-text validate[required] validate[maxSize[8]]">
				</div>
			</div>
			<div class="container-b15__group__form__bloque">
				<div class="g-form-block input-b15">
					<label for="Teléfonos">Teléfonos</label>
					<input type="text" id="Teléfonos" class="g-input-text validate[required] validate[maxSize[9]]">
				</div>
				<div class="g-form-block input-b15">
					<label for="E-mail">E-mail</label>
					<input type="text" id="E-mail" class="g-input-text validate[required]">
				</div>
			</div>
			<div class="container-b15__group__form__bloque">
				<div class="g-form-block input-b15">
					<label for="Mensaje">Mensaje</label>
					<textarea name id="Mensaje" cols="30" rows="20"></textarea>
				</div>
			</div>
			<div class="container-b15__group__form__contact">
				<p class="container-b15__group__form__contact__name">¿Cómo quieres que te contactemos?</p>
				<ul class="container-b15__group__form__contact__option g-input-radio-wrap">
					<li class="g-input-radio">
						<input type="radio" id="Celular" name="radio" class="validate[required]">
						<label for="Celular">
							<span class="radio"></span>
							Celular
						</label>
					</li>
					<li class="g-input-radio">
						<input type="radio" id="Whatsapp" name="radio" class="validate[required]">
						<label for="Whatsapp">
							<span class="radio"></span>
							Whatsapp
						</label>
					</li>
					<li class="g-input-radio">
						<input type="radio" id="Correo" name="radio" class="validate[required]">
						<label for="Correo">
							<span class="radio"></span>
							Correo
						</label>
					</li>
				</ul>
			</div>
			<div class="container-b15__group__form__term">
				<div class="container-b15__group__form__term__accept g-input-check">
					<input type="checkbox" id="check-b15" name="check" class="validate[required]">
					<label for="check-b15">
						<span class="check"></span>
						<p>Acepto los <a href="#" class="link-b15">Términos y Condiciones<a> y <a href="#" class="link-b15">Políticas de Privacidad</a></p>
					</label>
				</div>
				<div class="btn-b15">
					<button class="g-button black" type="submit">Enviar</button>
				</div>
			</div>
		</form>



{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/validationform/jquery.validationEngine.js"></script>
<script type="text/javascript">
	$(function(){
		app.form();

		/* Validation Form  */
		$(".validate-form").validationEngine('attach', {
			promptPosition : "topLeft",
			autoHidePrompt: true,
			autoHideDelay: 4000,
			binded: false,
			scroll: false,
			validateNonVisibleFields: true,

		});
	});
</script>
{% endblock %}
