{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 16 -->

<div class="container-b16">
	<div class="container-b16__group wancho3">
		<div class="container-b16__group__title">
			<h3 class="g-h3">Visitamos en:</h3>
		</div>
		<div class="container-b16__group__sedes">
			<article class="container-b16__group__sedes__store">
				<a href="#">
					<img src="{{STATIC_URL}}img/rectangle-copy-3.jpg" class="Rectangle-Copy" alt="Sede San Isidro">
				</a>
				<a href="#" class="container-b16__group__sedes__store__data">
					<p class="container-b16__group__sedes__store__data__name">San Isidro</p>
					<span class="container-b16__group__sedes__store__data__address">Av. Conquistadores 975</span>
					<i class="icon-flecha"></i>
					<p class="container-b16__group__sedes__store__data__phone">Tlf: 717 5752</p>
				</a>
			</article>
			
			<article class="container-b16__group__sedes__store">
				<a href="">
					<img src="{{STATIC_URL}}img/rectangle-copy-3.jpg" class="Rectangle-Copy" alt="Sede San Isidro">
				</a>
				<a href="#" class="container-b16__group__sedes__store__data">
					<p class="container-b16__group__sedes__store__data__name">San Borja</p>
					<span class="container-b16__group__sedes__store__data__address">Av. Primavera 821 Chacarilla</span>
					<i class="icon-flecha"></i>
					<p class="container-b16__group__sedes__store__data__phone">Tlf: 713 1172</p>
				</a>
			</article>
		</div>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
