{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 19 -->

<div class="container-b19">
	<div class="container-b19__group wancho2">
		<div class="container-b19__group__return">
			<a href="#">
				<p><i class="icon-flecha-regresar"></i>Sierra / Eventos</p>
			</a>
		</div>
		<div class="container-b19__group__title">
			<h1 class="g-title-black">Eventos</h1>
		</div>
		<div class="container-b19__group__cont-event">
			<div class="container-b19__group__cont-event__events">
				<article class="container-b19__group__cont-event__events__list">
					<a href="#">
						<img src="{{STATIC_URL}}img/evento-1.jpg" alt="" class="event-img">
					</a>
					<a class="container-b19__group__cont-event__events__list__data" href="#">
						<h4 class="container-b19__group__cont-event__events__list__data__name g-h4">Brunch para arquitectos y diseñadores de interiores en el programa Sierra Partners</h4>
						<!-- <div class="point"></div> -->
						<p class="container-b19__group__cont-event__events__list__data__link">&bull; ver nota</p>
					</a>
				</article>
				<article class="container-b19__group__cont-event__events__list">
					<a href="#">
						<img src="{{STATIC_URL}}img/evento-2.jpg" alt="" class="event-img">
					</a>
					<a  class="container-b19__group__cont-event__events__list__data" href="#">
						<h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Noche de la Arquitectura Limeña</h4>
						<p class="container-b19__group__cont-event__events__list__data__link">&bull; ver nota</p>
					</a>
				</article>
			</div>
			<div class="container-b19__group__cont-event__events">
				<article class="container-b19__group__cont-event__events__list">
					<a href="#">
						<img src="{{STATIC_URL}}img/evento-4.jpg" alt="" class="event-img">
					</a>
					<a class="container-b19__group__cont-event__events__list__data" href="#">
						<h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Muestra Sierra 2018 DECO & FASHION</h4>
						<p class="container-b19__group__cont-event__events__list__data__link">&bull; ver nota</p>
					</a>
				</article>
				<article class="container-b19__group__cont-event__events__list">
					<a href="#">
						<img src="{{STATIC_URL}}img/evento-3.jpg" alt="" class="event-img">
					</a>
					<a class="container-b19__group__cont-event__events__list__data" href="#">
						<h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Inspirate tus espacios creando armonia</h4>
						<p class="container-b19__group__cont-event__events__list__data__link">&bull; ver nota</p>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
