{% extends "../common/_base2.html" %}

{% block cssadicional %}

<link rel="stylesheet" type="text/css" href="../../static/css/s-g2.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<div class="b2">
	<div class="b2__header">
		<div class="b2__header-text wancho">
			<h2 class="g-subtitle-black">Diseño en cada pieza</h2>
		</div>
	</div>
	<div class="b2__content">
		<div class="b2__wrap wancho">
			<div class="b2__item">
				<div class="b2__item-bg" style="background-color: #53443c">
				</div>
				<div class="b2__item-img">
					<figure class="b2__item-img-url">
						<img src="{{ STATIC_URL }}img/img-1.png" alt="" width="500px" height="500px">
					</figure>
				</div>
				<div class="b2__item-text">
					<p>sillas</p>
				</div>
				<div class="b2__item-link">
					<a href="#" class="g-link-white">ver catálogo</a>
				</div>
			</div>
			<div class="b2__item">
				<div class="b2__item-bg" style="background-color: #999090"></div>
				<div class="b2__item-img">
					<figure class="b2__item-img-url">
						<img src="{{ STATIC_URL }}img/img-2.png" alt="" width="500px" height="auto">
					</figure>
				</div>
				<div class="b2__item-text block-poltronas stroke">
					<p>poltronas</p>
				</div>
				<div class="b2__item-link hide">
					<a href="#" class="g-link-white">ver catálogo</a>
				</div>
			</div>
			<div class="b2__item">
				<div class="b2__item-bg" style="background-color: #8a837c">
				</div>
				<div class="b2__item-img block-table">
					<figure class="b2__item-img-url">
						<img src="{{ STATIC_URL }}img/img-3.png" alt="" width="500px" height="auto">
					</figure>
				</div>
				<div class="b2__item-text block-table stroke">
					<p>MESAS</p>
				</div>
				<div class="b2__item-link hide" style="bottom:0">
					<a href="#" class="g-link-white">ver catálogo</a>
				</div>
			</div>
			<div class="b2__item block-content">
				<div class="b2__item-content-text">
					<h2 class="g-subtitle-white">Personaliza tus espacios creando armonía</h2>
					<div class="b2__item-content-link">
						<a href="#" class="g-link-black">ver catálogo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="b2-2">
	<div class="b2-2__lamp">
		<figure>
			<img src="{{ STATIC_URL }}img/lamp-3.png" alt="">
		</figure>
	</div>
	<div class="b2-2__container wancho">
		<div class="b2-2__top-text">

			<div class="b2-2__top-main-text">
				<p><span class="white">CREA</span> <span class="stroke">TU</span> <span class="grey">ESPACIO</span></p>
			</div>
			<div class="b2-2__top-description-text"><p>Agenda una cita con un diseñador de interiores</p></div>
			<div class="b2-2__main-link">
				<a href="#" class="g-link-black">Sierra Design Studio</a>
			</div>
		</div>
			<div class="b2-2__img-designers">
				<div class="b2-2__img-design-item">
					<figure class="b2-2__design-img">
						<img src="{{ STATIC_URL }}img/design-1.png" alt="">
					</figure>
				</div>
			<div class="b2-2__img-design-item">
				<figure class="b2-2__design-img">
					<img src="{{ STATIC_URL }}img/design-2.png" alt="">
				</figure>
			</div>
		</div>
		<div class="b2-2__bottom-text">
			<div class="b2-2__bottom-main-text"><h2 class="g-subtitle-brown">Inspira tus espacios creando armonía</h2></div>
			<div class="b2-2__bottom-link">
				<a href="#" class="g-link-black">ver catálogo</a>
			</div>
		</div>
	</div>
	<div class="b2-2__bg-text g-marquee">
			<p class="stroke-text">INSPIRACIÓN</p>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}