{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 20 -->


<div class="container-b20">
	<div class="container-b20__group wancho2">
		<div class="container-b20__group__return">
			<a href="#">
				<p><i class="icon-flecha-regresar"></i>Volver</p>
			</a>
		</div>
		<div class="container-b20__group__title">
			<h2 class="g-subtitle-black">Brunch para arquitectos y diseñadores de interiores en el programa Sierra Partners</h2>
		</div>
		<div class="container-b20__group__wrapperimg">
			<div class="container-b20__group__wrapperimg__main-img">
				<img src="{{STATIC_URL}}img/rectangle-copy.jpg" class="rectangle-copy">
			</div>
			<div class="container-b20__group__wrapperimg__details">
				<img src="{{STATIC_URL}}img/rectangle-copy-2.jpg" class="rectangle-copy-2">
				<div class="container-b20__group__wrapperimg__details__content">
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
