{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 21 -->
<div class="b21">
	<div class="b21__header-text wancho">
		<h3 class="g-h3">Revive los momentos</h3>
	</div>
	<div class="b21__wrapper wancho">
		<div class="b21__item grow-1">
			<a href="#" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png');">
				<!-- <figure class="b21__item-img">
					<img src="{{ STATIC_URL }}img/img-b21-1.png" alt="">
				</figure> -->
			</a>
		</div>
		<div class="b21__item grow-2">
			<a href="#" style="background-image: url('https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png');">
				<!-- <div class="b21__item-cnt">
					
				</div> -->
			</a>
		</div>
		<div class="b21__item grow-1">
			<a href="#" style="background-image: url('{{ STATIC_URL }}img/img-b21-3.png');">
				<!-- <figure class="b21__item-img">
					<img src="{{ STATIC_URL }}img/img-b21-3.png" alt="">
				</figure> -->
			</a>
		</div>
		<div class="b21__item grow-1">
			<a href="#" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png')">
				<!-- <figure class="b21__item-img">
					<img src="{{ STATIC_URL }}img/img-b21-1.png" alt="">
				</figure> -->
			</a>
		</div>
		<div class="b21__item grow-2">
			<a href="#" style="background-image: url('https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png');">
				<!-- <div class="b21__item-cnt">
					
				</div> -->
			</a>
		</div>
		<div class="b21__item grow-1">
			<a href="#" style="background-image: url('{{ STATIC_URL }}img/img-b21-3.png');">
				<!-- <figure class="b21__item-img">
					<img src="{{ STATIC_URL }}img/img-b21-3.png" alt="">
				</figure> -->
			</a>
		</div>
	</div>
</div>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
