{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/validationform/validationEngine.jquery.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 23 -->

<div class="container-b23">
	<div class="container-b23__link wancho2">
		<a href="#">
			<p><i class="icon-flecha-regresar"></i>Sierra / Mesa de Centro Mosaico / Cotizar</p>
		</a>
	</div>
	<div class="container-b23__group wancho3">
		<div class="container-b23__group__title">
			<h1 class="g-title-black">Libro de Reclamaciones</h1>
		</div>
		<div class="container-b23__group__subtitle">
			<h4>Conforme a lo establecido en el Código de Protección y Defensa del Consumidor, esta institución cuenta con un Libro de Reclamaciones a su disposición.</h4>
		</div>
		<form class="container-b23__group__form g-form validate-form">
			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Apellidos">Apellidos</label>
					<input type="text" id="Apellidos" class="g-input-text validate[required]">
				</div>
				<div class="g-form-block input-b23">
					<label for="Nombres">Nombre</label>
					<input type="text" id="Nombres" class="g-input-text validate[required]">
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Correo-electrónico">Correo Electrónico</label>
					<input type="text" id="Correo-electrónico" class="g-input-text validate[required]">
				</div>
				<div class="g-form-block input-b23">
					<label for="Celular">Celular</label>
					<input type="text" id="Celular" class="g-input-text validate[required] validate[maxSize[9]]">
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Tipo-documento">Tipo de documento</label>
					<select id="Tipo-documento" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">DNI</option>
						<option class="g-input-option">Carnet de extranjería</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
				<div class="g-form-block input-b23">
					<label for="Número-documento">Número de documento</label>
					<input type="text" id="Número-documento" class="g-input-text validate[required]">
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Departamento">Departamento</label>
					<select id="Departamento" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
				<div class="g-form-block input-b23">
					<label for="Distrito">Distrito</label>
					<select id="Distrito" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
				<div class="g-form-block input-b23">
					<label for="Distrito2">Distrito</label>
					<select id="Distrito2" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Dirección">Dirección</label>
					<input type="text" id="Dirección" class="g-input-text validate[required]">
				</div>
			</div>
			
			<h4 class="container-b23__group__form__sección g-h4">Identificación del bien contratado</h4>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Tipo-bien-contratado">Tipo del bien contratado*</label>
					<input type="text" id="Tipo-bien-contratado" class="g-input-text validate[required]">
				</div>
				<div class="g-form-block input-b23">
					<label for="Número-pedido*">Nº de pedido*</label>
					<input type="text" id="Número-pedido" class="g-input-text validate[required]">
				</div>
				<div class="g-form-block input-b23">
					<label for="Monto">Monto*</label>
					<input type="text" id="Monto" class="g-input-text validate[required]">
				</div>
			</div>
			
			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Dirección-obligatoria">Dirección*</label>
					<input type="text" id="Dirección-obligatoria" class="g-input-text validate[required]">
				</div>
			</div>

			<h4 class="container-b23__group__form__sección g-h4">Identificación del bien contratado</h4>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Tipo-Reclamo">Tipo de Reclamo</label>
					<select id="Tipo-Reclamo" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Descripción">Descripción*</label>
					<select id="Descripción" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
			</div>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Pedido-consumidor">Pedido del consumidor</label>
					<select id="Pedido-consumidor" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Opción 1</option>
						<option class="g-input-option">Opción 2</option>
						<option class="g-input-option">Opción 3</option>
						<option class="g-input-option">Opción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
			</div>

			<div class="container-b23__group__form__definiciones">
				<p>
					RECLAMO:
					<span class="definiciones-b23">Disconformidad relacionada a los productos o servicios.</span>
				</p>
				<p>
					QUEJA:
					<span class="definiciones-b23">Disconformidad no relacionada a los productos o servicios o malestar o descontento respecto a la atención.</span>
				</p>
			</div>

			<h4 class="container-b23__group__form__sección g-h4">Acciones adoptadas por el vendedor</h4>

			<div class="container-b23__group__form__bloque">
				<div class="g-form-block input-b23">
					<label for="Descripción-acción">Descripción*</label>
					<select id="Descripción-acción" class="g-input-select validate[required]">
						<option class="g-input-option" value=" " disabled selected></option>
						<option class="g-input-option">Acción 1</option>
						<option class="g-input-option">Acción 2</option>
						<option class="g-input-option">Acción 3</option>
						<option class="g-input-option">Acción 4</option>
					</select>
					<span class="icon-dropdown g-input-select-icon"></span>
				</div>
			</div>

			<p class="container-b23__group__form__obligatorio">(*) Campos obligatorios</p>

			<div class="container-b23__group__form__term">
				<div class="container-b23__group__form__term__accept g-input-check">
					<input type="checkbox" id="check-b23" name="check" class="validate[required]">
					<label for="check-b23">
						<span class="check"></span>
						<p>Acepto los <a href="#" class="link-b23">Términos y Condiciones<a> y <a href="#" class="link-b23">Políticas de Privacidad</a></p>
					</label>
				</div>
				<div class="btn-b23">
					<button class="g-button black" type="submit">Enviar</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/validationform/jquery.validationEngine.js"></script>
<script type="text/javascript">
	$(function(){
		app.form();

		/* Validation Form  */
		$(".validate-form").validationEngine('attach', {
			promptPosition : "topLeft",
			autoHidePrompt: true,
			autoHideDelay: 4000,
			binded: false,
			scroll: false,
			validateNonVisibleFields: true,

		});

	});
</script>
{% endblock %}
