{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 25 -->
<!-- b25 informativas world -->

<div class="b25">
	<div class="b25__cnt wancho">
		<div class="b25__cnt-list">
			<article class="b25__cnt-list-art">
				<figure class="b25__cnt-list-art-figure">
					<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/B54484A7-5591-4BBF-9C3B-50FCB0B419CB.png" alt="imagen de muestra">
				</figure>
				<div class="b25__cnt-list-art-box">
					<figure class="b25__cnt-list-art-box-figure">
						<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/7D7E7298-3F9E-4801-8C2D-9A48ABE7FDD9.png" alt="imagen de material">
					</figure>
					<div class="b25__cnt-list-art-box-text">
						<h3 class="b25__cnt-list-art-box-tittle">Madera</h3>
						<div class="b25__cnt-list-art-box-description">
							<p class="g-product-name">
								Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
							</p>	
						</div>
					</div>
				</div>
			</article>
			<article class="b25__cnt-list-art reverse">
				<figure class="b25__cnt-list-art-figure">
					<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/023A1201-F251-4755-90F2-653BA0E301F0.png" alt="imagen de muestra">
				</figure>
				<div class="b25__cnt-list-art-box">
					<figure class="b25__cnt-list-art-box-figure">
						<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/47B9597C-A064-462F-A8ED-A6048108BAEA.png" alt="imagen de material">
					</figure>
					<h3 class="b25__cnt-list-art-box-tittle">Marble</h3>
					<div class="b25__cnt-list-art-box-description">
						<p class="g-product-name">
							Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
						</p>	
					</div>
				</div>
			</article>
			<article class="b25__cnt-list-art">
				<figure class="b25__cnt-list-art-figure">
					<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/4F24E445-CDF8-4242-A6AD-1589A7010F56.png" alt="imagen de muestra">
				</figure>
				<div class="b25__cnt-list-art-box">
					<figure class="b25__cnt-list-art-box-figure">
						<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/EEEBAEBA-5328-485A-A61C-D4EE9418A1CD.png" alt="imagen de material">
					</figure>
					<h3 class="b25__cnt-list-art-box-tittle">Madera</h3>
					<div class="b25__cnt-list-art-box-description">
						<p class="g-product-name">
							Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
						</p>	
					</div>
				</div>
			</article>
			<article class="b25__cnt-list-art reverse">
				<figure class="b25__cnt-list-art-figure">
					<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/023A1201-F251-4755-90F2-653BA0E301F0.png" alt="imagen de muestra">
				</figure>
				<div class="b25__cnt-list-art-box">
					<figure class="b25__cnt-list-art-box-figure">
						<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/47B9597C-A064-462F-A8ED-A6048108BAEA.png" alt="imagen de material">
					</figure>
					<h3 class="b25__cnt-list-art-box-tittle">Marble</h3>
					<div class="b25__cnt-list-art-box-description">
						<p class="g-product-name">
							Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
						</p>	
					</div>
				</div>
			</article>
		</div>
	</div>
</div>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
