{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<div class="b3">
	<div class="b3__container wancho">
		<div class="b3__img">
			<figure class="b3__img-url">
				<img src="{{ STATIC_URL }}img/home-bottom-img.png" alt="" width="871px" height="547px">
			</figure>
		</div>
		<div class="b3__text">
			<div class="b3__main-text">
				<h2 class="g-subtitle-white">Acabado artesanal en cada detalle</h2>
			</div>
			<div class="b3__link">
				<a href="#" class="g-link-black">ir a nosotros</a>
			</div>
		</div>
	</div>
	<div class="b3__bg-text">
		<p>ARTESANAL</p>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){


	});
</script>
{% endblock %}
