{% extends "../common/_base2.html" %}

{% block cssadicional %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 4 -->
<div class="b4">
	<div class="b4__cnt wancho">
		<div class="g-bread wancho2">
			<span class="icon-flecha-regresar"></span>
			<div class="g__scrumb">
				<a href="#"><span>Home</span></a>
			</div>
			<div class="g__scrumb">
				<a href="#"><span>Mesas</span></a>		
			</div>
			<div class="g__scrumb">
				<a href="#"><span>De Centro</span></a>		
			</div>
		</div>
		<div class="b4__cnt-title">
			<h1>
				<p class="g-title-black">Mesas</p>
			</h1>
		</div>
		<ul	 class="b4__cnt-slider">
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure active">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Cabecera
					</p>
				</a>
				<div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera</a></li>
							<li><a href="">De comedor</a></li>
							<li><a href="">De noche</a></li>
							<li><a href="">De apoyo</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Silla
					</p>
				</a>
				<div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera1</a></li>
							<li><a href="">De comedor1</a></li>
							<li><a href="">De noche1</a></li>
							<li><a href="">De apoyo1</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/15F85C75-1F30-4961-9823-B1E1AF2A007B.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Butaca
					</p>
				</a>
				<div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera2</a></li>
							<li><a href="">De comedor2</a></li>
							<li><a href="">De noche2</a></li>
							<li><a href="">De apoyo2</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/92640DC2-C087-48E3-AEC2-D913EC8597EE.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Poltrona
					</p>
				</a><div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera3</a></li>
							<li><a href="">De comedor3</a></li>
							<li><a href="">De noche3</a></li>
							<li><a href="">De apoyo3</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Luminara
					</p>
				</a>
				<div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera4</a></li>
							<li><a href="">De comedor4</a></li>
							<li><a href="">De noche4</a></li>
							<li><a href="">De apoyo4</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="b4__cnt-slider-select">
				<a class="b4__cnt-slider-select-link" href="">
					<figure class="b4__cnt-slider-select-link-figure">
						<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
					</figure>
					<p class="g-description">
						Accesorios
					</p>
				</a>
				<div class="b4__divisor">
					<div class="b4__divisor-menu wancho">
						<ul class="b4__divisor-menu-nav">
							<li><a href="">Cabecera5</a></li>
							<li><a href="">De comedor5</a></li>
							<li><a href="">De noche5</a></li>
							<li><a href="">De apoyo5</a></li>
						</ul>
					</div>
				</div>
			</li>
			<div class="rows">
				<a class="icon-flecha-slider-izquierda" href="">
				</a>
				<a class="icon-flecha-slider-derecha" href=""></a>
			</div>
		</ul>
	</div>
	<!--<div class="b4__divisor">
		<div class="b4__divisor-menu wancho">
			<ul class="b4__divisor-menu-nav">
				<li><a href="">Cabecera</a></li>
				<li><a href="">De comedor</a></li>
				<li><a href="">De noche</a></li>
				<li><a href="">De apoyo</a></li>
			</ul>
		</div>
	</div>-->
	<div class="b4-container wancho owl-carousel">
		<div class="item">
			<figure class="b4__item-img">
				<img src="" alt="">
			</figure>
			<div class="b4__item-text"></div>
		</div>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_PAGE }}js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
	$(function(){
		$('.b1-slider').addClass('owl-carousel')
		$('.owl-carousel').owlCarousel({
			loop: false,
			margin: 0,
			nav: true,
			dots:true,
			items: 6,
			smartSpeed: 500,
			navText:['',''],
			autoplay: false,
			// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
		});    
	});
</script>
{% endblock %}
