{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 5 -->
	<div class="b5">
		<div class="b5__selector wancho">
			<div class="b5__selector-searcher">
				<div class="block-general">
					<div class="g-form">
						<div class="g-form-block">
							<label for="inputSelect">Ordenar por</label>
							<select id="inputSelect" class="g-input-select">
								<option class="g-input-option" value="" disabled selected></option>
								<option class="g-input-option">Opción 1</option>
								<option class="g-input-option">Opción 2</option>
								<option class="g-input-option">Opción 3</option>
								<option class="g-input-option">Opción 4  </option>
							</select>
							<span class="icon-dropdown g-input-select-icon"></span>
						</div>
					</div>
				</div>
				<div class="block-general">
					<div class="g-form">
						<div class="g-form-block">
							<label for="inputSelect">Material</label>
							<select id="inputSelect" class="g-input-select">
								<option class="g-input-option" value="" disabled selected></option>
								<option class="g-input-option">Opción 1</option>
								<option class="g-input-option">Opción 2</option>
								<option class="g-input-option">Opción 3</option>
								<option class="g-input-option">Opción 4  </option>
							</select>
							<span class="icon-dropdown g-input-select-icon"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="b5__selector-page">
				<div class="b5__selector-page-cnt">
					<a>1</a>
				</div>
				<div class="b5__selector-page-cnt">
					<a>2</a>
				</div>
				<div class="b5__selector-page-cnt">
					<a><i class="icon-flecha"></i></a>
				</div>
			</div>
		</div>
		<div class="b5__cnt">
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
			<div class="b5__cnt-box">
				<figure class="b5__cnt-box-figure">
					<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
				</figure>
				<div>
					<p class="g-product-name">Mesa de centro Mosaico</p>
				</div>
			</div>
		</div>
		<div class="b5__aux-selector">
			<div class="b5__selector-page">
				<div class="b5__selector-page-cnt">
					<a>1</a>
				</div>
				<div class="b5__selector-page-cnt">
					<a>2</a>
				</div>
				<div class="b5__selector-page-cnt">
					<a><i class="icon-flecha"></i></a>
				</div>
			</div>
		</div>
	</div>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
