{% extends "../common/_base2.html" %}

{% block cssadicional %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.theme.default.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 6 -->

<div class="b6">
	<div class="b6__group wancho2">
		<div class="b6__group__link">
			<a href="#">
				<p><i class="icon-flecha-regresar"></i>Sierra / Contacto</p>
			</a>
		</div>
		<h1 class="b6__group__title g-title-white">Mesa de centro Mosaico</h1>
		<p class="b6__group__text">REF: 25923N</p>
		<figure class="b6__group__slider-img owl-theme">
			<img src="https://picsum.photos/id/200/1045/515" alt="" class="b6__img">
			<img src="https://picsum.photos/id/204/1045/515" alt="" class="b6__img">
			<img src="https://picsum.photos/id/201/1045/515" alt="" class="b6__img">
		</figure>
	</div>
</div>




{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
	$(function(){

		function b6SliderOwl(){
			var cantElement = $('.b6__img').length;
			if (cantElement > 1) {
				$('.b6__group__slider-img').addClass('owl-carousel')
					$('.owl-carousel').owlCarousel({
						loop: true,
						margin: 0,
						nav: false,
						dots:true,
						items: 1,
						mouseDrag: false,
						smartSpeed: 500,
						navText:['',''],
						autoplay: true,
						animateIn: 'fadeIn',
						animateOut: 'fadeOut',
						// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
					});
				}       
			}

		b6SliderOwl()



	});
</script>
{% endblock %}
