{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 7 -->

<div class="b7">
	<div class="b7__cnt wancho">
		<div class="b7__cnt-left">
			<div class="b7__cnt-left-box1">
				<div class="b7__cnt-left-box1-letter g-pg">
					<p class="b7__cnt-left-box1-letter-p">
						Led ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				<div class="b7__cnt-left-box1-picture">
					<figure class="b7__cnt-left-box1-picture-figure">
						<img class="b7__cnt-left-box1-picture-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/099ADD46-AF7B-477D-A9E3-414DE9A0D859.png" alt="imagen left">
					</figure>
				</div>
			</div>
			<div class="b7__cnt-left-box2">
				<div class="b7__cnt-left-box2-main">
					<div class="b7__cnt-left-box2-main-texture">
						<div>
							<h2 class="g-subtitle-black">Librería de texturas</h2>
						</div>
						<div>
							<p class="g-description">Estrutura em madeira maciça grandis e chapa.</p>
						</div>
						<div class="b7__texture">
							<div class="b7__texture-cnt">
								<div class="b7__texture-cnt-1row">
									<div class="b7__texture-cnt-1row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
									<div class="b7__texture-cnt-1row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
									<div class="b7__texture-cnt-1row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
								</div>
								<div class="b7__texture-cnt-2row">
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure></a>
									</div>
								</div>
							</div>
							<div>
								<p class="g-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="b7__cnt-right">
			<div class="b7__cnt-right-box">
				<div class="b7__cnt-right-box-tittle">
					<p class="g-pg">Especificaciones</p>
				</div>
				<div class="b7__cnt-right-box-description">
					<p class="g-description"> - Estrutura em madeira maciça grandis e chapa multilaminada maciça. 
- Miolo do tampo reversível com feltro. 
- 4 gavetas com corrediça telescópica</p>
				</div>
			</div>
			<div class="b7__cnt-right-box">
				<div class="b7__cnt-right-box-tittle">
					<p class="g-pg">Tamaño</p>
				</div>
				<div class="b7__cnt-right-box-description">
					<p class="g-description">22 x 22 x 29 in. (56 x 56 x 74 cm.)</p>
				</div>
			</div>
			<div class="b7__cnt-right-box">
				<div class="b7__cnt-right-box-tittle">
					<p class="g-pg">Precio</p>
				</div>
				<div class="b7__cnt-right-box-description">
					<p class="g-description">Desde $3,329</p>
				</div>
			</div>
			<div class="b7__cnt-right-box">
				<div>
					<a href="">Cotizar+</a>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
