
{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 8 -->

<div class="b8">
	<div class="b8__cnt wancho">
		<div class="b8__main-text">
			<h2 class="g-subtittle-black">Relacionados</h2>
		</div>
		<div class="b8__list">
			<ul class="b8__list-stuff">
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5D274B63-9F73-468D-B8A7-515DED3685B7.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">	
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/017600E4-CFB3-40AE-8CBF-B83482DB2C2F.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/DE5FB637-6042-4F5E-B7AA-7DE04FF28873.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
