{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 9 -->
<div class="b9">
	<div class="container-b13">
		<!-- eliminar el primer div y el styl-->
		<div class="prueba"></div>
		<div class="container-b13__group wancho2">
			<p class="container-b13__group__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
			<img src="{{STATIC_URL}}img/lamp-2.png" class="lamp-2" alt="">
		</div>
	</div>

	<article class="b25__cnt-list-art">
		<figure class="b25__cnt-list-art-figure">
			<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/B54484A7-5591-4BBF-9C3B-50FCB0B419CB.png" alt="imagen de muestra">
		</figure>
		<div class="b25__cnt-list-art-box">
			<figure class="b25__cnt-list-art-box-figure">
				<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/7D7E7298-3F9E-4801-8C2D-9A48ABE7FDD9.png" alt="imagen de material">
			</figure>
			<div class="b25__cnt-list-art-box-description">
				<p class="g-product-name">
					Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
				</p>	
			</div>
		</div>
	</article>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	function animationScroll(item, wrapper){
		var sc_top = $(this).scrollTop()
		var height_screen = $(window).height()
		var suma = (sc_top + height_screen) - 150
		var top_item = $(wrapper).offset().top
		if(suma > top_item){
			$(item).addClass('active')
		}
	}
	$(function(){
		$(window).on("scroll", function(){
			animationScroll(".container-b13__group__text, .lamp-2", ".container-b13__group")
		})
	});
</script>
{% endblock %}
