{% extends "../common/_base3.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
 



<!-- generales -->
<div class="block-general">
 	<h1 class="g-title-black">Título Principal Negro .g-title-black</h1>	 			
</div>

<div class="block-general" style="background: #CCC">
	<h1 class="g-title-white">Título Principal Blanco .g-title-white</h1>				
</div>

<div class="block-general">
	<h2 class="g-subtitle-black">Título Secundario Negro .g-subtitle-black</h2>				
</div>

<div class="block-general" style="background: #CCC">
	<h2 class="g-subtitle-white">Título Secundario Blanco .g-subtitle-white</h2>				
</div>

<div class="block-general">
	<h2 class="g-subtitle-brown">Título Secundario Marrón .g-subtitle-brown</h2>				
</div>

<div class="block-general">
	<h3 class="g-h3">Texto H3 .g-h3</h3>				
</div>

<div class="block-general">
	<h4 class="g-h4">Texto H4 .g-h4</h4>				
</div>

<div class="block-general">
	<p class="g-description">Texto descripción .g-description</p>				
</div>

<div class="block-general">
	<p class="g-pg">Texto párrafos .g-pg</p>				
</div>

<div class="block-general">
	<p class="g-product-name">Nombre de producto .g-product-name</p>				
</div>

<div class="block-general" style="background: #CCC">
	<a href="#" class="g-link-white">Link blanco .g-link-white</a>				
</div>

<div class="block-general">
	<a href="#" class="g-link-black">Link negro .g-link-black</a>				
</div>
 
<div class="block-general">
	<p>Select</p>
	<div class="g-form">
		<div class="g-form-block">
			<label for="inputSelect">PLACEHOLDER</label>
			<select id="inputSelect" class="g-input-select">
				<option class="g-input-option" value="" disabled selected></option>
				<option class="g-input-option">Opción 1</option>
				<option class="g-input-option">Opción 2</option>
				<option class="g-input-option">Opción 3</option>
				<option class="g-input-option">Opción 4  </option>
			</select>
			<span class="icon-dropdown g-input-select-icon"></span>
		</div>
	</div>
</div>
<div class="block-general">
	<p>Input</p>
	<div class="g-form">
		<div class="g-form-block">
			<label for="inputText">Lorem ipsum dolor sit.</label>
			<input type="text" id="inputText" class="g-input-text">
		</div>
	</div>
</div>
<div class="block-general">
	<p>Textarea</p>
	<div class="g-form">
		<div class="g-form-block">
			<label for="inputTextArea">PLACEHOLDER</label>
			<textarea name="" id="inputTextArea" cols="30" rows="10"></textarea>
		</div>
	</div>
</div>
<div class="block-general">
	<p>Radio buttons</p>
	<div class="g-form">
		<ul class="g-input-radio-wrap">
			<li class="g-input-radio">
				<input type="radio" id="radioOption1" name="radio">
				<label for="radioOption1"><span class="radio"></span>Opción 1</label>
			</li>
			<li class="g-input-radio">
				<input type="radio" id="radioOption2" name="radio">
				<label for="radioOption2"><span class="radio"></span>Opción 2</label>
			</li>
		</ul>
	</div>
</div>
<div class="block-general">
	<p>Checkbox</p>
	<div class="g-form">
		<ul class="g-input-check-wrap">
			<li class="g-input-check">
				<input type="checkbox" id="checkOption1" name="check">
				<label for="checkOption1"><span class="check"></span>Opción 1</label>
			</li>
			<li class="g-input-check">
				<input type="checkbox" id="checkOption2" name="check">	
				<label for="checkOption2"><span class="check"></span>Opción 2</label>
			</li>
		</ul>
	</div>
</div>

<div class="block-general">
	<button class="g-button">BOTÓN SIN ESTILO</button>
</div>

<div class="block-general">
	<button class="g-button white">BOTÓN BLANCO</button>
</div>

<div class="block-general">
	<button class="g-button black">BOTÓN NEGRO</button>
</div>

<div class="block-general">
	<div class="g-bread">
		<div class="g__scrumb">
			<span class="icon-flecha-regresar"></span>
			<a href="#"><span>Link 1</span></a>
		</div>
		<div class="g__scrumb">
			<a href="#"><span>Link 2</span></a>		
		</div>
		<div class="g__scrumb">
			<a href="#"><span>Link 2</span></a>		
		</div>
	</div>
</div>
<div class="block-general">
	<div class="g-banner">
		<span class="g-banner__rectangle"></span>
		<div class="g-banner__img" style="background-image:url('{{ STATIC_URL}}img/banner-g.png')">
			<div class="g-banner_bread-crumbs g-bread crumbs-white wancho">
				<span class="icon-flecha-regresar"></span>
				<div class="g__scrumb">
					<a href="#"><span>Sierra</span></a>
				</div>
				<div class="g__scrumb">
					<a href="#"><span>The World of Materials</span></a>		
				</div>
			</div>

			<div class="g-banner__text wancho">
					<h1 class="g-title-white wancho">The World of Materials</h1>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block jsfinal %}	
<script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>

<script type="text/javascript">
	 $(function(){
		app.form();
	 })
</script>
{% endblock %}
