// Colors idendity
c-0 = #0d0d0d
c-1 = #9d958c
c-2 = #53443c
c-3 = #404040
c-4 = #8a837c
c-5 = #929990
c-6 = #7c837c
c-7 = #c4c4c4
c-8 = #6a6a6a
c-9 = #f8f8f8
c-10 = #857f7b
c-11 = #ffffff
c-12 = #999999
c-13 = #e0e0e0
// Fonts
t-0 = 'Gotham-Medium', 'sans-serif'
t-1 = 'Gotham-Light', 'sans-serif'
t-2 = 'Gotham-Book', 'sans-serif'
t-3 = 'Gotham-Bold', 'sans-serif'
t-4 = 'Gotham-BoldItalic', 'sans-serif'
t-5 = 'GnuolaneRg-Regular', 'sans-serif'
t-6 = 'gnuolane-rg', 'sans-serif'
t-7 = 'MillerDisplay-Light', 'sans-serif'
t-8 = 'millerdisplay-light', 'sans-serif'
t-9 = 'Oswald-Bold', 'sans-serif'
icomoon = 'icomoon'

// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */

transition-all()
	transition all 0.25s

cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.cf
	cf()
// Mixins
using-flex(direction, justify-content, align-items)
	display flex
	flex-flow direction wrap
	justify-content justify-content
	align-items align-items
	
backgroundsize()
	background-repeat no-repeat
	background-size cover
	background-position center center

img-res()
	max-width 100%
	width 100%
	height auto
	display block

background-t(color, alpha = 1)
	ms-color = argb(color, alpha)
	background rgba(color, alpha)
	zoom 1
	filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color) !important
hex(decimal)
	hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
	unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])

argb(color, alpha = 1)
	unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

ckeditor()
	p
		font-family t-0
		color c-0
		font-size 16px
		text-align: justify
		margin 15px 0 0 0
	p:first-child
		margin-top 0
	@media screen and (max-width 480px)
		p
			font-size: 14px



.formError
	top auto !important
	bottom 0 !important
	margin-top 0 !important
	margin-bottom -20px !important
	.formErrorArrow
		display none !important
	.formErrorContent
		background: none !important
		box-shadow: 0 0 0 0 !important
		border: none !important
		color: red !important