<footer class="footer content">
        <div class="footer__suscription wancho">
            <div class="footer__suscription-text">
                <h2 class="g-subtitle-black">
                    Suscríbete
                </h2>
            </div>
            <div class="footer__suscription-input g-form">
                <div class="g-form-block wancho">
                    <label for="inputSuscription">Escribir e-mail</label>
                    <input type="text" name="" id="inputSuscription">
                    <button class="g-button">Enviar</button>
                </div>
                <div class="g-input-check-wrap">
                    <div class="g-input-check">
                        <input type="checkbox" name="" id="checkSuscription">
                        <label for="checkSuscription" class="g-pg footer__check-label">
                            <span class="check"></span>
                            Acepto los <a href="#" target="_blank" class="underline">términos y condiciones</a> de Sierra Muebles
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-hr"></div>
        <div class="footer__nav wancho">
            <div class="footer__logo">
                <figure>
                    <img src="{{ STATIC_URL }}img/footer-logo.svg" alt="">
                </figure>
            </div>
            <div class="footer__address">
                <div class="footer__address-1">
                    <div class="footer__address-district">
                        <p>San Isidro</p>
                    </div>
                    <div class="footer__address-direction">
                        <div class="footer__address-data-1">
                            <p>Avenida conquistadores 975</p>
                        </div>
                        <div class="footer__address-data-2">
                            <p>San Isidro</p>
                        </div>
                        <div class="footer__address-data-3">
                            <p>Lunes a sábado de 10am a 7pm</p>
                        </div>
                        <div class="footer__address-data-4">
                            <p>info@sierramuebles.pe</p>
                        </div>
                        <div class="footer__address-data-5">
                            <p>7175752</p>
                        </div>
                    </div>
                </div>
                <div class="footer__address-1">
                    <div class="footer__address-district">
                        <p>San Borja</p>
                    </div>
                    <div class="footer__address-direction">
                        <div class="footer__address-data-1">
                            <p>Avenida Primavera 821</p>
                        </div>
                        <div class="footer__address-data-2">
                            <p>San Borja</p>
                        </div>
                        <div class="footer__address-data-3">
                            <p>Lunes a sábado de 10am a 7pm</p>
                        </div>
                        <div class="footer__address-data-4">
                            <p>hola@sierramuebles.pe</p>
                        </div>
                        <div class="footer__address-data-5">
                            <p>7131172</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__links">
                <div class="footer__social">
                    <div class="footer__social-instagram"><a href="#"><span class="icon-footer-instagram"></span></a></div>
                    <div class="footer__social-facebook"><a href="#"></a><span class="icon-footer-facebook"></span></div>
                    <div class="footer__social-pinterest"><a href="#"></a><span class="icon-footer-pinterest"></span></div>
                    <div class="footer__social-youtube"><a href="#"></a><span class="icon-footer-youtube __web-inspector-hide-shortcut__">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                    </span></div>
                </div>
                <div class="footer__interest">
                    <div class="footer__interest-links">
                        <div class="footer__interest-item g-pg"><a href="#">Políticas de privacidad</a></div>
                        <div class="footer__interest-item g-pg"><a href="#">Términos y condiciones</a></div>
                        <div class="footer__interest-item-book g-pg">
                            <a href="#">
                                <figure class="footer__interest-claims-book-img">
                                    <img src="{{ STATIC_URL}}img/footer-claims-book.png" alt="">
                                </figure>
                                Libro de reclamaciones
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
        <div class="g-hr"></div>
        <div class="footer__copyright wancho">
            <div class="footer_copyright-left"><p>Sierra 2019 Todos los derechos reservados</p></div>
            <div class="footer_copyright-right"><p>Diseño web por <span class="icon-corazon-staff"></span><strong class="footer__sd"><a href="#"> staffdigital <span class="icon-icomoon footer__sd-icon"></span></a></strong></p></div>
        </div>
    </footer>    