<header class="header">
    <div class="header-relative">
        <div class="wancho header-ctn">
            <a href="home.html" class="header-logo">
                <img src="{{ STATIC_URL }}img/logo-sierra.png" alt="">
            </a>
            <nav class="menu">
                <div class="menu-wrap">
                    <ul class="menu-list"> <!-- "menu-list" es usado para el menu responsive -->
                        <li class="menu-item">
                            <a href="" class="menu-link g-pg">
                                <span>
                                    Catálogo
                                </span>
                            </a>
                            <div class="menu-catalogo">
                                <ul class="menu-catalogo-wrap">
                                    <li class="menu-catalogo-item">
                                        <a href="#" class="menu-item-cnt">
                                            <div class="menu-item-img">
                                                <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                            </div>
                                            <div class="menu-catalogo-text">
                                                <p class="g-pg">Cabecera</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-catalogo-item">
                                        <a href="#" class="menu-item-cnt">
                                            <div class="menu-item-img">
                                                <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                            </div>
                                            <div class="menu-catalogo-text">
                                                <p class="g-pg">Cabecera</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-catalogo-item">
                                        <a href="#" class="menu-item-cnt">
                                            <div class="menu-item-img">
                                            <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                        </div>
                                        <div class="menu-catalogo-text">
                                            <p class="g-pg">Cabecera</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-catalogo-item">
                                    <a href="#" class="menu-item-cnt">
                                        <div class="menu-item-img">
                                            <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                        </div>
                                        <div class="menu-catalogo-text">
                                            <p class="g-pg">Cabecera</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-catalogo-item">
                                    <a href="#" class="menu-item-cnt">
                                        <div class="menu-item-img">
                                            <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                        </div>
                                        <div class="menu-catalogo-text">
                                            <p class="g-pg">Cabecera</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-catalogo-item">
                                    <a href="#" class="menu-item-cnt">
                                        <div class="menu-item-img">
                                            <figure class="menu-img"><img src="{{ STATIC_URL }}img/catalog-1.png" alt=""></figure>
                                        </div>
                                        <div class="menu-catalogo-text">
                                            <p class="g-pg">Cabecera</p>
                                        </div>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item"><a href="" class="menu-link g-pg">Sierra Design Studio</a></li>
                        <li class="menu-item g-pg"><a href="" class="menu-link">Materials</a></li>
                        <li class="menu-item"><a href="" class="menu-link g-pg">Sierra Partner</a></li>
                        <li class="menu-item"><a href="" class="menu-link g-pg">Tiendas</a></li>
                        <li class="menu-item "><a href="" class="menu-link g-pg">Contacto</a></li>
                        <li class="menu-item "><a href="" class="menu-link bold g-pg">Cotizar</a></li>
                    </ul>
                </div>
            </nav>
            <div class="search">
                <div class="search-icons">
                    <a href="#" class="icon-buscar"></a>
                    <!-- <div class="header-buscador">
                        <input type="text" class="">
                        <a href="" class="header-buscador-close">
                            <i class="icon-cerrar"></i>
                        </a>
                    </div> -->
                    <a href="#" class="icon-menu1 menu-desktop-open"></a>
                </div>
                
                <div class="language">
                    <ul class="language-wrap">
                        <li class="language-item"> <a class="g-pg" href="#">EN</a> </li>
                        <li class="language-item"> <a class="g-pg" href="#">ES</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wancho wancho-0">
        <div class="menu-desktop">
            <a href="" class="close-desktop-header">
                <i class=" icon-cerrar"></i>
            </a>
            <ul class="menu-desktop__1">
                <li>
                    <a href=""> Catalogo</a>
                </li>
                <li>
                    <a href=""> Inspiración</a>
                </li>
                <li>
                    <a href=""> The World of Materials</a>
                </li>
                <li>
                    <a href=""> Sierra Design Studio</a>
                </li>
                <li>
                    <a href=""> Tiendas</a>
                </li>
                <li>
                    <a href=""> Contacto</a>
                </li>
                <li>
                    <a href=""> Eventos</a>
                </li>
                <li>
                    <a href=""> Sierra Partners</a>
                </li>
            </ul>
            <ul class="menu-desktop__2">
                <li>
                    <a href="">Términos y Condiciones</a>
                </li>
                <li>
                    <a href="">Políticas de Privacidad</a>
                </li>
                <li>
                    <a href="">Libro de Reclamaciones</a>
                </li>
            </ul>
            <ul class="menu-desktop__3">
                <li>
                    <a href="">
                        <i class="icon-footer-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-footer-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-footer-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-footer-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

