{% extends "common/_base.html" %}
{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}

<div class="b4">
        <div class="b4__cnt wancho">
            <div class="g-bread">
                <div class="g__scrumb">
                    <span class="icon-flecha-regresar"></span>
                    <a href="#"><span>Home</span></a>
                </div>
                <div class="g__scrumb">
                    <a href="#"><span>Mesas</span></a>		
                </div>
                <div class="g__scrumb">
                    <a href="#"><span>De Centro</span></a>		
                </div>
            </div>
            <div class="b4__cnt-title">
                <h1>
                    <p class="g-title-black">Mesas</p>
                </h1>
            </div>


            <ul	 class="b4__cnt-slider">
                <li data-id="1" class="b4__cnt-slider-select active">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Cabecera
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera</a></li>
                                <li><a href="">De comedor</a></li>
                                <li><a href="">De noche</a></li>
                                <li><a href="">De apoyo</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="2" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Silla
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera1</a></li>
                                <li><a href="">De comedor1</a></li>
                                <li><a href="">De noche1</a></li>
                                <li><a href="">De apoyo1</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="3" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/15F85C75-1F30-4961-9823-B1E1AF2A007B.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Butaca
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera2</a></li>
                                <li><a href="">De comedor2</a></li>
                                <li><a href="">De noche2</a></li>
                                <li><a href="">De apoyo2</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="4" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/92640DC2-C087-48E3-AEC2-D913EC8597EE.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Poltrona
                        </p>
                    </a><div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera3</a></li>
                                <li><a href="">De comedor3</a></li>
                                <li><a href="">De noche3</a></li>
                                <li><a href="">De apoyo3</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="5" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Luminara
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera4</a></li>
                                <li><a href="">De comedor4</a></li>
                                <li><a href="">De noche4</a></li>
                                <li><a href="">De apoyo4</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="6" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Accesorios
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera5</a></li>
                                <li><a href="">De comedor5</a></li>
                                <li><a href="">De noche5</a></li>
                                <li><a href="">De apoyo5</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="7" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Accesorios
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera6</a></li>
                                <li><a href="">De comedor6</a></li>
                                <li><a href="">De noche6</a></li>
                                <li><a href="">De apoyo6</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <li data-id="8" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BCF1E8C9-AFD7-43F9-AF03-9EC0D6F21029.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Accesorios
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera7</a></li>
                                <li><a href="">De comedor7</a></li>
                                <li><a href="">De noche7</a></li>
                                <li><a href="">De apoyo7</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="9" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure active">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Cabecera
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera</a></li>
                                <li><a href="">De comedor</a></li>
                                <li><a href="">De noche</a></li>
                                <li><a href="">De apoyo</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="10" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5FA3EC92-1A1C-4A22-A88A-D1B73A285E93.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Silla
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera1</a></li>
                                <li><a href="">De comedor1</a></li>
                                <li><a href="">De noche1</a></li>
                                <li><a href="">De apoyo1</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li data-id="11" class="b4__cnt-slider-select">
                    <a class="b4__cnt-slider-select-link" href="">
                        <figure class="b4__cnt-slider-select-link-figure">
                            <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/15F85C75-1F30-4961-9823-B1E1AF2A007B.png" alt="imagen de muestra">
                        </figure>
                        <p class="g-description">
                            Butaca
                        </p>
                    </a>
                    <div class="b4__divisor">
                        <div class="b4__divisor-menu wancho">
                            <ul class="b4__divisor-menu-nav">
                                <li><a href="">Cabecera2</a></li>
                                <li><a href="">De comedor2</a></li>
                                <li><a href="">De noche2</a></li>
                                <li><a href="">De apoyo2</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="b4__cnt-slider-divisor">
                <div class="b4__divisor" data-id="1">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera</a></li>
                            <li><a href="">De comedor</a></li>
                            <li><a href="">De noche</a></li>
                            <li><a href="">De apoyo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="2">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera2</a></li>
                            <li><a href="">De comedor2</a></li>
                            <li><a href="">De noche2</a></li>
                            <li><a href="">De apoyo2</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="3">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera3</a></li>
                            <li><a href="">De comedor3</a></li>
                            <li><a href="">De noche3</a></li>
                            <li><a href="">De apoyo3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="4">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera4</a></li>
                            <li><a href="">De comedor4</a></li>
                            <li><a href="">De noche4</a></li>
                            <li><a href="">De apoyo4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="5">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera5</a></li>
                            <li><a href="">De comedor5</a></li>
                            <li><a href="">De noche5</a></li>
                            <li><a href="">De apoyo5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="6">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera6</a></li>
                            <li><a href="">De comedor6</a></li>
                            <li><a href="">De noche6</a></li>
                            <li><a href="">De apoyo6</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="7">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera7</a></li>
                            <li><a href="">De comedor7</a></li>
                            <li><a href="">De noche7</a></li>
                            <li><a href="">De apoyo7</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="8">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera8</a></li>
                            <li><a href="">De comedor8</a></li>
                            <li><a href="">De noche8</a></li>
                            <li><a href="">De apoyo8</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="9">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera9</a></li>
                            <li><a href="">De comedor9</a></li>
                            <li><a href="">De noche9</a></li>
                            <li><a href="">De apoyo9</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="10">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera10</a></li>
                            <li><a href="">De comedor10</a></li>
                            <li><a href="">De noche10</a></li>
                            <li><a href="">De apoyo10</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b4__divisor" data-id="11">
                    <div class="b4__divisor-menu wancho">
                        <ul class="b4__divisor-menu-nav">
                            <li><a href="">Cabecera11</a></li>
                            <li><a href="">De comedor11</a></li>
                            <li><a href="">De noche11</a></li>
                            <li><a href="">De apoyo11</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="b4__divisor">
            <div class="b4__divisor-menu wancho">
                <ul class="b4__divisor-menu-nav">
                    <li><a href="">Cabecera</a></li>
                    <li><a href="">De comedor</a></li>
                    <li><a href="">De noche</a></li>
                    <li><a href="">De apoyo</a></li>
                </ul>
            </div>
        </div>-->
        <div class="b4-container wancho">
            <div class="item">
                <figure class="b4__item-img">
                    <img src="" alt="">
                </figure>
                <div class="b4__item-text"></div>
            </div>
        </div>
    </div>
    <div class="b5">
            <div class="b5__selector wancho">
                <div class="b5__selector-searcher">
                    <div class="block-general">
                        <div class="g-form">
                            <div class="g-form-block">
                                <label for="inputSelect">Ordenar por</label>
                                <select id="inputSelect" class="g-input-select">
                                    <option class="g-input-option" value="" disabled selected></option>
                                    <option class="g-input-option">Opción 1</option>
                                    <option class="g-input-option">Opción 2</option>
                                    <option class="g-input-option">Opción 3</option>
                                    <option class="g-input-option">Opción 4  </option>
                                </select>
                                <span class="icon-dropdown g-input-select-icon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="block-general">
                        <div class="g-form">
                            <div class="g-form-block">
                                <label for="inputSelect">Material</label>
                                <select id="inputSelect" class="g-input-select">
                                    <option class="g-input-option" value="" disabled selected></option>
                                    <option class="g-input-option">Opción 1</option>
                                    <option class="g-input-option">Opción 2</option>
                                    <option class="g-input-option">Opción 3</option>
                                    <option class="g-input-option">Opción 4  </option>
                                </select>
                                <span class="icon-dropdown g-input-select-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b5__selector-page">
                    <div class="b5__selector-page-cnt selected">
                        <a href="">1</a>
                    </div>
                    <div class="b5__selector-page-cnt">
                        <a href="">2</a>
                    </div>
                    <div class="b5__selector-page-cnt">
                        <a href=""><i class="icon-flecha"></i></a>
                    </div>
                </div>
            </div>
            <div class="b5__cnt">
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
                <div class="b5__cnt-box">
                    <figure class="b5__cnt-box-figure">
                        <img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
                    </figure>
                    <div>
                        <p class="g-product-name">Mesa de centro Mosaico</p>
                    </div>
                </div>
            </div>
            <div class="b5__aux-selector">
                <div class="b5__selector-page">
                    <div class="b5__selector-page-cnt selected">
                        <a href="">1</a>
                    </div>
                    <div class="b5__selector-page-cnt">
                        <a href="">2</a>
                    </div>
                    <div class="b5__selector-page-cnt">
                        <a href=""><i class="icon-flecha"></i></a>
                    </div>
                </div>
            </div>
        </div>







{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>

<script>
    $(function(){
        $el = $(".b5__cnt"),
        $item = $(".b5__cnt-box")
        
        $item.each(function(){
            if(($(window).outerHeight() + $(window).scrollTop()) > $(this).offset().top - 800)
            $(this).addClass('active')
        })
        
        $(document).on('scroll', function(){
            $item.each(function(){
                if(($(window).outerHeight() + $(window).scrollTop()) > $(this).offset().top + 10)
                $(this).addClass('active')
            })
        })
    })
    $(window).on('load', function(){
        $('.b4__cnt-slider').addClass('owl-carousel')
		$('.owl-carousel').owlCarousel({
			loop: false,
			margin: 0,
			nav: true,
			dots:true,
			items: 6,
            smartSpeed: 500,
            autoWidth:true,
            navText: ['<i class="icon-flecha-slider-izquierda"></i>', '<i class="icon-flecha-slider-derecha"></i>'],
			//navText:['<i class="icon-flecha-slider-izquierda flecha" href=""></i>','<i class="icon-flecha-slider-derecha flecha" href=""></i>'],
			autoplay: false,
			// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
        });
        
        function showSubcategory(){
            //OBTENER ITEMS DE CATEGORIA EN UN ARRAY
            var $items = $('.b4__cnt-slider-select')
            //ELEMENTO CON LA CLASE ACTIVE
            var $itemActive = $items.filter('.active')
            //ENCONTRAR EL ID DEL ITEM CON LA CLASE ACTIVE
            var $index = $itemActive.attr('data-id')
            //COLOCAR CLASE ACTIVE AL FIGURE DEL ITEM
            $itemActive.find('figure').addClass('active')
            //OBTENER ELEMENTOS SUB-CATEGORIA EN UN ARRAY
            var $subCategoria = $('.b4__divisor')
            
            //OCULTAR ELEMENTOS EXCEPTO EL ELEMENTO ACTIVE
            $subCategoria.each(function(){
                $(this).hide()
                if($(this).attr('data-id') == $index){
                    $(this).show();
                }
            })
        }

        showSubcategory();

        //CHANGE ACTIVE ON CLICK

        $($('.b4__cnt-slider-select')).on('click', function(e){
            e.preventDefault()
            $('.b4__cnt-slider-select').removeClass('active').find('figure').removeClass('active')
            $(this).addClass('active')
            showSubcategory()
        })

    })
</script>
{% endblock %}