{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black corporativa{% endblock %}
{% block content %}
<div class="g-banner g-banner-wancho">
    <span class="g-banner__rectangle"></span>
    <div class="g-banner__img" style="background-image:url('../static/img/banner-corporativa.png')">
        <div class="g-banner_bread-crumbs g-bread crumbs-white wancho-banner">
			<div class="g__scrumb">
				<span class="icon-flecha-regresar"></span>
                <a href="#"><span>Sierra</span></a>
            </div>
            <div class="g__scrumb">
                <a href="#"><span>Empresa</span></a>		
            </div>
        </div>

        <div class="g-banner__text">
			<h1 class="g-title-white wancho wancho-banner">Más que un mueble, un concepto</h1>
        </div>
    </div>
</div>
<div class="b9">
	<div class="container-b13">
		<!-- eliminar el primer div y el styl-->
		<!-- <div class="prueba"></div> -->
		<div class="container-b13__group wancho2">
			<p class="container-b13__group__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
			<img src="{{STATIC_URL}}img/lamp-2.png" class="lamp-2" alt="">
		</div>
	</div>

	<article class="b25__cnt-list-art wancho2">
		<figure class="b25__cnt-list-art-figure">
			<img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/B54484A7-5591-4BBF-9C3B-50FCB0B419CB.png" alt="imagen de muestra">
		</figure>
		<div class="b25__cnt-list-art-box">
			<figure class="b25__cnt-list-art-box-figure">
				<img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/7D7E7298-3F9E-4801-8C2D-9A48ABE7FDD9.png" alt="imagen de material">
			</figure>
			<div class="b25__cnt-list-art-box-description">
				<p class="g-pg">
					Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
				</p>	
			</div>
		</div>
	</article>
</div>



<div class="b10">
		<div class="b10-container wancho">
			<div class="b10__img">
				<figure class="b10_img-url">
					<img src="{{ STATIC_URL }}img/img-1.png" alt="">
				</figure>
			</div>
			<div class="b10__text">
				<div class="b10__text-title">
					<h2 class="g-subtitle-brown">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.</h2>
				</div>
				<div class="b10__text-content">
					<div class="b10__text-content-item">
							<p class="g-pg">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
					</div>
					<div class="b10__text-content-item">
							<p class="g-pg">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
					</div>
				</div>
				<div class="b10__text-link">
					<a href="#" class="g-link">ver catálogo</a>
				</div>
			</div>
		</div>
		<div class="b10__bg-text g-marquee">
			<p class="stroke-text">Sierra</p>
		</div>
	</div>





{% endblock %}
{% block jsfinal %}
<script>
	$(function(){
		
	});
</script>
{% endblock %}