{% extends "common/_base.html" %}
{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.theme.default.css">
{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}

<div class="b6">
	<div class="b6__group wancho2">
			<div class="g-bread crumbs-white">
				<div class="g__scrumb">
						<span class="icon-flecha-regresar"></span>
						<a href="#"><span>Mesas</span></a>
					</div>
					<div class="g__scrumb">
						<a href="#"><span>Mesa de Centro Mosaico</span></a>		
					</div>
				</div>
		<h1 class="b6__group__title g-title-white">Mesa de centro Mosaico</h1>
		<p class="b6__group__text">REF: 25923N</p>
		<figure class="b6__group__slider-img owl-theme">
			<img src="https://picsum.photos/id/200/1045/515" alt="" class="b6__img">
			<img src="https://picsum.photos/id/204/1045/515" alt="" class="b6__img">
			<img src="https://picsum.photos/id/201/1045/515" alt="" class="b6__img">
		</figure>
	</div>
</div>

<div class="b7">
	<div class="b7__cnt wancho" data-type="right-495">
		<div class="b7__cnt-left">
			<div class="b7__cnt-left-box1">
				<div class="b7__cnt-left-box1-letter g-pg">
					<p class="b7__cnt-left-box1-letter-p">
						Led ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				<div class="b7__cnt-left-box1-picture">
					<figure class="b7__cnt-left-box1-picture-figure">
						<img class="b7__cnt-left-box1-picture-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/099ADD46-AF7B-477D-A9E3-414DE9A0D859.png" alt="imagen left">
					</figure>
				</div>
			</div>
			<div class="b7__cnt-left-box2">
				<div class="b7__cnt-left-box2-main">
					<div class="b7__cnt-left-box2-main-texture">
						<div>
							<h2 class="g-subtitle-black">Librería de texturas</h2>
						</div>
						<div>
							<p class="g-description">Estrutura em madeira maciça grandis e chapa.</p>
						</div>
						<div class="b7__texture">
							<div class="b7__texture-cnt">
								<div class="b7__texture-cnt-1row">
									<div class="b7__texture-cnt-1row-picture">
										<a href="#">
											<figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
											</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div>
										</a>
									</div>
									<div class="b7__texture-cnt-1row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div></a>
									</div>
									<div class="b7__texture-cnt-1row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div></a>
									</div>
								</div>
								<div class="b7__texture-cnt-2row">
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div></a>
									</div>
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div></a>
									</div>
									<div class="b7__texture-cnt-2row-picture">
										<a href="#"><figure>
											<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A95DB9EA-B995-4DB8-8BCC-96000D393F81.png" alt="">
										</figure>
											<div class="b7__detail">
												<p>lorem</p>
											</div></a>
									</div>
								</div>
							</div>
							<div>
								<p class="g-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="b7__cnt-right">
			<div class="b7__detail-box">
			<div class="b7__cnt-right-container">
				<div class="b7__cnt-right-box">
					<div class="b7__cnt-right-box-tittle">
						<p class="g-pg">Especificaciones</p>
					</div>
					<div class="b7__cnt-right-box-description">

							<p class="g-description"> - Estrutura em madeira maciça grandis e chapa multilaminada maciça. 
								- Miolo do tampo reversível com feltro. 
								- 4 gavetas com corrediça telescópica</p>
							</div>
						</div>
						<div class="b7__cnt-right-box">
							<div class="b7__cnt-right-box-tittle">
								<p class="g-pg">Tamaño</p>
							</div>
							<div class="b7__cnt-right-box-description">
								<p class="g-description">22 x 22 x 29 in. (56 x 56 x 74 cm.)</p>
							</div>
						</div>
						<div class="b7__cnt-right-box">
							<div class="b7__cnt-right-box-tittle">
								<p class="g-pg">Precio</p>
							</div>
							<div class="b7__cnt-right-box-description">
								<p class="g-description">Desde $3,329</p>
							</div>
						</div>
						<div class="b7__cnt-right-box">
							<div class="b7__cnt-right-box-cotizar">
								<button class="g-button black">Cotizar+</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="b7__bg-text g-marquee">
			<p class="stroke-text">ARTESANAL</p>
		</div>
</div>


<div class="b8">
	<div class="b8__cnt wancho">
		<div class="b8__main-text">
			<h2 class="g-subtittle-black">Relacionados</h2>
		</div>
		<div class="b8__list">
			<ul class="b8__list-stuff">
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/5D274B63-9F73-468D-B8A7-515DED3685B7.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">	
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/017600E4-CFB3-40AE-8CBF-B83482DB2C2F.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
				<li class="b8__list-stuff-item">
					<a href="" class="b8__list-stuff-item-effect">
						<div class="b8__figure-background">
							<div class="b8__image-cnt">
								<figure class="b8__image-cnt-figure">
									<img  class="b8__image-cnt-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/DE5FB637-6042-4F5E-B7AA-7DE04FF28873.png" alt="">
								</figure>
							</div>
						</div>
						<div class="b8__list-name">
							<p class="g-product-name">Mesa de centro de mosaico</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>





{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
	$(function(){
		var $box = $('.b7__cnt-right-container');
        var $el = $('.b7__detail-box')
		var $ctn = $('.b7__cnt-left')
		var $block = $('.b7')
        var $bo = offsetBottom($ctn)
        var $hh = $('.header').height();
        
        if($(window).width() > 1024){
			var $box_ro = $(window).width() - ($box.offset().left + $box.outerWidth());
            $(window).on('scroll',function(){
                    var $st = $(window).scrollTop();
                    if(($st + $hh) > $el.offset().top - 60 && $(document).height() - ($hh+$st+$box.outerHeight()) > offsetBottom($block)+50){
						$box.addClass('fixed').removeClass('absolute')
						$box.css('top', '').css('bottom', '').css('right', '').css('padding', '|0')
                        $box.css('top', $hh+50+'px')
                        $box.css('right', $box_ro+'px')
                    }else if($box.hasClass('fixed') && $(document).height() - ($hh+$st+$box.outerHeight()) <= offsetBottom($block)+50){
						$box.removeClass('fixed').addClass('absolute')
						$box.css('left', '').css('bottom', '0').css('right', $box_ro).css('top','')
						$box.css('padding', '0')
                    }else{
						$box.removeClass('fixed').css("padding","0px")
					}
				});
        }

		function offsetBottom($el){
			return ($(document).height() - ($el.offset().top + $el.outerHeight()));
		}

		function b6SliderOwl(){
			var cantElement = $('.b6__img').length;
			if (cantElement > 1) {
				$('.b6__group__slider-img').addClass('owl-carousel')
				$('.owl-carousel').owlCarousel({
					loop: true,
					margin: 0,
					nav: false,
					dots:true,
					items: 1,
					mouseDrag: false,
					smartSpeed: 500,
					navText:['',''],
					autoplay: true,
					animateIn: 'fadeIn',
					animateOut: 'fadeOut',
					// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
				});
			}       
		}
		
		b6SliderOwl()
	});
</script>
{% endblock %}
