{% extends "common/_base.html" %}
{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">
{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}


<div class="g-banner">
    <span class="g-banner__rectangle"></span>
    <div class="g-banner__img" style="background-image:url('{{ STATIC_URL}}img/banner-designers.png')">
        <div class="g-banner_bread-crumbs g-bread crumbs-white wancho">
            <div class="g__scrumb">
                <span class="icon-flecha-regresar"></span>
                <a href="#"><span>Sierra</span></a>
            </div>
            <div class="g__scrumb">
                <a href="#"><span>The World of Materials</span></a>		
            </div>
        </div>

        <div class="g-banner__text wancho">
                <h1 class="g-title-white wancho">The World of Materials</h1>
        </div>
    </div>
</div>

<div class="b12 wancho">
        <p class="b12-text">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        </p>

        <div class="b12-slide">
    
                <div class="b12-slide-rectangle" id="1">
                    <a href="disenadores2.html">
                        <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                        <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                    </a>
                </div>
    
                <div class="b12-slide-rectangle" id="2">
                    <a href="disenadores3.html">
                        <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                        <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                    </a>
                </div>
                
                <div class="b12-slide-rectangle" id="3">
                    <a href="disenadores.html">
                        <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                        <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                    </a>
                </div>
    
                <div class="b12-slide-rectangle" id="4">
                    <a href="disenadores2.html">
                        <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                        <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                    </a>
                </div>
                
                <div class="b12-slide-rectangle" id="5">
                    <a href="disenadores3.html">
                        <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                        <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                    </a>
                </div>
            
        
            </div>
        
    </div>
    <div id="wrap-cnt">
        <div class="wancho">
            <div class="b12-container">
                <div class="b12-container-img" >
                    <img src="{{STATIC_URL}}img/lamp-2.png" width="436" height="427">
                </div>
                <div class="b12-container-right">
                    <div class="b12-text-block1">3Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                    <div class="b12-container-right-center">
                        <div class="b12-text-block2">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                        </div>
                        <div class="b12-text-block2">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                        </div>
                    </div>
                    <div class="b12-text-block3">Programa una cita
                        <button >Contáctanos</button>
                    </div>
                </div>
            </div>
            <div class="b122 wancho">
                <h2 class="b122-text">Portafolio</h2>
            
                <div class="b122__cnt-list">
                    <article class="b122__cnt-list-art">
                        <figure class="b122__cnt-list-art-figure">
                            <img class="b122__cnt-list-art-figure-img" src="{{ STATIC_URL }}img/rectangle-copy-b12.jpg" alt="imagen de muestra">
                            <h3 class="b122__cnt-list-art-box-tittle">
                                    Porfirio Castro
                            </h3>
                            </figure>
                        <div class="b122__cnt-list-art-box">
                            <figure class="b122__cnt-list-art-box-figure">
                                <img class="b122__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/0308F3B6-EFC4-4E52-9C56-0647FC5C986B.png" alt="imagen de material">
                                </figure>
                            <h3 class="b122__cnt-list-art-box-tittle">Amaro Casanovs</h3>
                            
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    
    
    {% endblock %}
    {% block jsfinal %}
    <script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        $(function(){
            
            function b12SliderOwl(){
                var cantElement = $('.b12-slide-rectangle').length;
                if (cantElement > 3) {
                    $('.b12-slide').addClass('owl-carousel')
                    $('.owl-carousel').owlCarousel({
                        loop:false,
                        margin:10,
                        nav:false,
                        center:true,
                        items: 3,
                        autoplay: false,
                        navText:['',''],
                        /*
                        dots:true,
                        items: 1,
                        smartSpeed: 500,
                        navText:['',''],
                        autoplay: true,
                        animateIn: 'fadeIn',
                        animateOut: 'fadeOut',
                        */// navText:[$('#aro-left'),'<span class="icon-right-arrow-copy"></span>'],
                    });
                }       
            }
    
            b12SliderOwl()
            $('.b12-slide-rectangle').on("click",  function(){
                var id_owl = $(this).attr('id')
                id_owl = id_owl - 1
                $('.b12-slide').trigger('to.owl.carousel', id_owl)
                console.log("click")
            })


            function loadPage(src, state) {
                var $html = $('html');
                $html.addClass('load-page');
                $.ajax(src)
                    .done(function(data) {
                        var parser = new DOMParser(),
                            htmlDoc = parser.parseFromString(data, "text/html"),
                            content = htmlDoc.getElementById('wrap');

                        if (state) {
                            history.pushState({page : src}, "page", src);
                        }

                        $html.removeClass('load-page');
                        $('#wrap').html(content.innerHTML);
                        binding($('#wrap'));
                    })
                    .always(function() {

                    });
            }

    
            function binding(element) {
                $('body').on('click', '.click', function(event) {
                    event.preventDefault();
                    loadPage(this.href, true);
                });
            }
            if ($('.tendencias-history').length > 0) {
                binding($('html'));
                window.addEventListener('popstate', function(event) {
                    loadPage(document.location.href, false);
                }, false);
            }







        });
    </script>
    {% endblock %}