{% extends "common/_base.html" %}
{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">
{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}

<div class="g-banner g-banner-wancho">
    <span class="g-banner__rectangle"></span>
    <div class="g-banner__img" style="background-image:url('{{ STATIC_URL}}img/banner-designers.png')">
        <div class="g-banner_bread-crumbs g-bread crumbs-white wancho-banner">
			<div class="g__scrumb">
				<span class="icon-flecha-regresar"></span>
                <a href="#"><span>Sierra</span></a>
            </div>
            <div class="g__scrumb">
                <a href="#"><span>Sierra Design Studio</span></a>		
            </div>
        </div>

        <div class="g-banner__text">
			<h1 class="g-title-white wancho wancho-banner">Sierra Design Studio</h1>
        </div>
    </div>
</div>

<div class="b12 wancho2">
        <p class="b12-text">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        </p>

        <div class="b12-slide">

            <div class="b12-slide-rectangle" id="1">
                <a href="disenadores2.html">
                    <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                    <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                </a>
            </div>

            <div class="b12-slide-rectangle" id="2">
                <a href="disenadores3.html">
                    <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                    <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                </a>
            </div>
            
            <div class="b12-slide-rectangle" id="3">
                <a href="disenadores.html">
                    <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                    <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                </a>
            </div>

            <div class="b12-slide-rectangle" id="4">
                <a href="disenadores2.html">
                    <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                    <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                </a>
            </div>
            <div class="b12-slide-rectangle" id="5">
                <a href="disenadores3.html">
                    <img src="{{STATIC_URL}}img/rectangle-copy-21.png" width="440" height="440" >
                    <span class="b12-slide-rectangle-text1">Porfirio Castro</span>
                </a>
            </div>
        </div>
    </div>
    <div id="wrap-cnt">
        <div class="wancho">
            <div class="b12-container">
                <div class="b12-container-img" >
                    <img src="{{STATIC_URL}}img/lamp-2.png" width="436" height="427">
                </div>
                <div class="b12-container-right">
                    <div class="b12-text-block1">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                    <div class="b12-container-right-center">
                        <div class="b12-text-block2">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                        </div>
                        <div class="b12-text-block2">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue. 
                        </div>
                    </div>
                    <div class="b12-text-block3">
                        <p class="b12-text-block3-cita">Programa una cita</p>
                        <button>Contáctanos</button>
                    </div>
                </div>
            </div>
            
            <div class="b122 wancho">
                <h2 class="b122-text">Portafolio</h2>
            
                <div class="b122__cnt-list">
                        {% for row in "5"|get_range %}

                    <article class="b122__cnt-list-art">
                        <figure class="b122__cnt-list-art-figure">
                            <img class="b122__cnt-list-art-figure-img" src="{{ STATIC_URL }}img/rectangle-copy-b12.jpg" alt="imagen de muestra">
                            <h3 class="b122__cnt-list-art-box-tittle">
                                    Porfirio Castro
                            </h3>
                            </figure>
                        <div class="b122__cnt-list-art-box">
                            <figure class="b122__cnt-list-art-box-figure">
                                <img class="b122__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/0308F3B6-EFC4-4E52-9C56-0647FC5C986B.png" alt="imagen de material">
                                </figure>
                            <h3 class="b122__cnt-list-art-box-tittle">Amaro Casanovs</h3>
                            
                        </div>
                    </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    
    
    {% endblock %}
    {% block jsfinal %}
    <script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
    
        $(function(){
            
            function b12SliderOwl(item,padre,num,bool){
                var cantElement = $(item).length;
                if (cantElement > 0) {
                    $(padre).addClass('owl-carousel')
                    var log= $('.owl-carousel').owlCarousel({
                        loop:bool,
                        margin:10,
                        nav:true,
                        center:true,
                        items: num,
                        autoplay: bool,
                        mouseDrag: false,
                        touchDrag: false,
                        navText:["<i class='icon-flecha-slider-izquierda flecha'>","<i  class='icon-flecha-slider-derecha flecha'>"] /* responsiveClass:true,
                        responsive:{
                            0:{
                                items:1,
                                nav:true
                            },
                            600:{
                                items:2,
                                nav:false
                            },
                            1000:{
                                items:3,
                                nav:true,
                                loop:false
                            }
                        }*/
                        
                     });
                }       
            }
    
            b12SliderOwl('.b12-slide-rectangle','.b12-slide',3,false)

            $('.b12-slide-rectangle').on("click",  function(){
                var id_owl = $(this).attr('id')
                id_owl = id_owl - 1
                $('.b12-slide').trigger('to.owl.carousel', id_owl)
                console.log("click")
            })



            function b122SliderOwl(item,padre,num){
                var cantElement = $(item).length;
                console.log("entraaa ",num)
                if (cantElement > 1) {
                    $(padre).addClass('owl-carousel')
                    $('.owl-carousel').owlCarousel({
                        loop:true,
                        nav:true,
                        items: num,
                        navText:["<img src='https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BEAC9C2A-48B6-4F21-AF4D-3D260AAE36A5.svg' style='transform: rotate(180deg)'>","<img src='https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/BEAC9C2A-48B6-4F21-AF4D-3D260AAE36A5.svg'>"]
                     });
                }       
            }
            b122SliderOwl('.b122__cnt-list-art','.b122__cnt-list',1)


            function loadPage(src, state) {
                var $html = $('html');
                $html.addClass('load-page');
                $.ajax(src)
                    .done(function(data) {
                        var parser = new DOMParser(),
                            htmlDoc = parser.parseFromString(data, "text/html"),
                            content = htmlDoc.getElementById('wrap-cnt');

                        if (state) {
                            history.pushState({page : src}, "page", src);
                        }

                        $html.removeClass('load-page');
                        $('#wrap-cnt').html(content.innerHTML);
                        b122SliderOwl('.b122__cnt-list-art','.b122__cnt-list',1)
                    
                        //binding($('#wrap-cnt'));
                    })
                    .always(function() {

                    });
            }
            

    
            function binding(element) {
                $('body').on('click', '.b12-slide-rectangle a', function(event) {
                    event.preventDefault();
                    loadPage(this.href, true);
                    console.log("demo")
                    console.log("-----------------------------------")
                });
            }
            if ($('#wrap-cnt').length > 0) {
                binding($('html'));
                window.addEventListener('popstate', function(event) {
                    loadPage(document.location.href, false);
                    var count_slide = $(".b12 .owl-item").length
                    console.log(count_slide, "count")
                    var this_owl = 0;
                    for(var i = 0; i < count_slide; i++){
                        if($(".b12 .owl-item").eq(i).hasClass("center")){
                            this_owl = i
                        }
                    }
                    console.log(this_owl, "fnccc")
                    $('.b12-slide').trigger('to.owl.carousel', this_owl-1)
                }, false);
            }

        });
    </script>
    {% endblock %}