{% extends "common/_base.html" %}
{% block cssadicional %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/light-gallery/light-galery.css">

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}



<div class="container-b20">
        <div class="container-b20__group wancho">
            <div class="g-bread">
                <div class="g__scrumb">
                    <span class="icon-flecha-regresar"></span>
                    <a href="#"><span>Volver</span></a>
                </div>
            </div>
            <div class="container-b20__group__title">
                <h2 class="g-subtitle-black">Brunch para arquitectos y diseñadores de interiores en el programa Sierra Partners</h2>
            </div>
            <div class="container-b20__group__wrapperimg">
                <div class="container-b20__group__wrapperimg__main-img">
                    <img src="{{STATIC_URL}}img/rectangle-copy.jpg" class="rectangle-copy">
                </div>
                <div class="container-b20__group__wrapperimg__details">
                    <img src="{{STATIC_URL}}img/rectangle-copy-2.jpg" class="rectangle-copy-2">
                    <div class="container-b20__group__wrapperimg__details__content">
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <div class="b21">
            <div class="b21__header-text wancho">
                <h3 class="g-h3">Revive los momentos</h3>
            </div>

            <ul class="b21__wrapper wancho2" id="lightgallery">
                <li class="b21__item grow-1" data-src="{{ STATIC_URL }}img/img-b21-1.png">
                    <a href="" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png');"></a>
                </li>
                <li class="b21__item grow-2" data-src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png">
                    <a href="" style="background-image: url('https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png');"></a>
                </li>
                <li class="b21__item grow-1" data-src="{{ STATIC_URL }}img/img-b21-1.png">
                    <a href="" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png');"></a>
                </li>
                <li class="b21__item grow-1" data-src="{{ STATIC_URL }}img/img-b21-1.png">
                    <a href="" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png');"></a>
                </li>
                <li class="b21__item grow-2" data-src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png">
                    <a href="" style="background-image: url('https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C244C74E-E084-4E8E-B208-DE2C37D001F2.png');"></a>
                </li>
                <li class="b21__item grow-1" data-src="{{ STATIC_URL }}img/img-b21-1.png">
                    <a href="" style="background-image: url('{{ STATIC_URL }}img/img-b21-1.png');"></a>
                </li>
            </ul>

            
    </div>
        
        
        
        
{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/light-gallery/light-gallery.min.js"></script>
<script type="text/javascript">
    $(function(){
        
    });
    jQuery(document).ready(function() {
        jQuery("#lightgallery").lightGallery({
            zoom: 'true'
        }); 
    });
</script>
{% endblock %}
        