{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}


<div class="container-b19">
    <div class="container-b19__group wancho2">
        <div class="g-bread">
            <div class="g__scrumb">
                    <span class="icon-flecha-regresar"></span>
                    <a href=""><span>Sierra</span></a>
                </div>
                <div class="g__scrumb">
                    <a href=""><span>Eventos</span></a>		
                </div>
            </div>
        <div class="container-b19__group__title">
            <h1 class="g-title-black">Eventos</h1>
        </div>
        <div class="container-b19__group__cont-event">
            <div class="container-b19__group__cont-event__events">
                <article class="container-b19__group__cont-event__events__list article1">
                    <a href="">
                        <img src="{{STATIC_URL}}img/evento-1.jpg" alt="" class="event-img">
                    </a>
                    <a class="container-b19__group__cont-event__events__list__data" href="#">
                        <h4 class="container-b19__group__cont-event__events__list__data__name g-h4">Brunch para arquitectos y diseñadores de interiores en el programa Sierra Partners</h4>
                        <!-- <div class="point"></div> -->
                        <p class="container-b19__group__cont-event__events__list__data__link g-link">ver nota</p>
                    </a>
                </article>
                <article class="container-b19__group__cont-event__events__list article2">
                    <a href="">
                        <img src="{{STATIC_URL}}img/evento-2.jpg" alt="" class="event-img">
                    </a>
                    <a  class="container-b19__group__cont-event__events__list__data" href="#">
                        <h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Noche de la Arquitectura Limeña</h4>
                        <p class="container-b19__group__cont-event__events__list__data__link g-link">ver nota</p>
                    </a>
                </article>
            </div>
            <div class="container-b19__group__cont-event__events">
                <article class="container-b19__group__cont-event__events__list article1">
                    <a href="">
                        <img src="{{STATIC_URL}}img/evento-4.jpg" alt="" class="event-img">
                    </a>
                    <a class="container-b19__group__cont-event__events__list__data" href="#">
                        <h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Muestra Sierra 2018 DECO & FASHION</h4>
                        <p class="container-b19__group__cont-event__events__list__data__link g-link">ver nota</p>
                    </a>
                </article>
                <article class="container-b19__group__cont-event__events__list article2">
                    <a href="">
                        <img src="{{STATIC_URL}}img/evento-3.jpg" alt="" class="event-img">
                    </a>
                    <a class="container-b19__group__cont-event__events__list__data" href="#">
                        <h4 class="container-b19__group__cont-event__events__list__data__name  g-h4">Inspirate tus espacios creando armonia</h4>
                        <p class="container-b19__group__cont-event__events__list__data__link g-link">ver nota</p>
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block jsfinal %}
{% endblock %}