{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}


<div class="b24">
	<div class="b24__container wancho">
		<div class="b24__container-interact">
			<div class="b24__container-interact-tittle">
				<h1 class="g-title-black">Gracias por escribirnos.</h1>
			</div>
			<div class="b24__container-interact-text">
				<p class="">Para más información, completa el siguiente formualio y nos pondremos en contacto contigo.</p>
			</div>
			<div class="b24__container-interact-button">
				<div class="b24__button">
					<button class="g-button black">Volver al home</button>
				</div>
			</div>
		</div>
		<div class="b24__container-picture">
			<figure class="b24__container-picture-figure">
				<img class="b24__container-picture-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/260F3A02-BEC5-434C-8EB1-480A4381E074.png" alt="imagen de error">
			</figure>
		</div>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
{% endblock %}