{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="{{ STATIC_URL }}js/fullPage/src/fullpage.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="{{ STATIC_URL }}js/validationform/validationEngine.jquery.css">

{% endblock %} 

{% block classbody %}{% endblock %}

{% block content %}

<div id="fullpage">

	<div class="b1 section" id="section1">
		<div class="b1__banner">
			<div class="b1-slider">
				{% for row in "3"|get_range %}
				<div class="b1__item">
					<span class="b1__rectangle"></span>
					<span class="b1__banner-filtro"></span>
					<div class="b1__banner-img" style="background-image: url('{{ STATIC_URL}}img/banner.png')"></div>
					<div class="b1__banner-text">
						<div class="b1__banner-text-texto wancho">
							<h1 class="g-title-white">Más que un mueble, un concepto</h1>
						</div>
						<div class="b1__banner-text-link">
							<a href="#" class="g-link-white">Ver catálogo</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="b1__scroll">
			<div class="b1__text-scroll">
				<p>Scroll down</p>
			</div>
			<div class="b1__mouse-scroll">
				<span class="icon-scroll"></span>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="b2">
			<div class="b2__header">
				<div class="b2__header-text wancho">
					<h2 class="g-subtitle-black">Diseño en cada pieza</h2>
				</div>
			</div>
			<div class="b2__content">
				<div class="b2__wrap wancho">
					<div class="b2__item">
						<div class="b2__item-bg" style="background-color: #53443c">
						</div>
						<div class="b2__item-img">
							<figure class="b2__item-img-url">
								<img src="{{ STATIC_URL }}img/img-1.png" alt="" width="500px" height="500px">
							</figure>
						</div>
						<div class="b2__item-text">
							<p>sillas</p>
						</div>
						<div class="b2__item-link">
							<a href="#" class="g-link-white">ver catálogo</a>
						</div>
					</div>
					<div class="b2__item">
						<div class="b2__item-bg" style="background-color: #999090"></div>
						<div class="b2__item-img">
							<figure class="b2__item-img-url">
								<img src="{{ STATIC_URL }}img/img-2.png" alt="" width="500px" height="auto">
							</figure>
						</div>
						<div class="b2__item-text block-poltronas stroke">
							<p>poltronas</p>
						</div>
						<div class="b2__item-link hide">
							<a href="#" class="g-link-white">ver catálogo</a>
						</div>
					</div>
					<div class="b2__item">
						<div class="b2__item-bg" style="background-color: #8a837c">
						</div>
						<div class="b2__item-img block-table">
							<figure class="b2__item-img-url">
								<img src="{{ STATIC_URL }}img/img-3.png" alt="" width="500px" height="auto">
							</figure>
						</div>
						<div class="b2__item-text block-table stroke">
							<p>MESAS</p>
						</div>
						<div class="b2__item-link hide" style="bottom:0">
							<a href="#" class="g-link-white">ver catálogo</a>
						</div>
					</div>
					<div class="b2__item block-content">
						<div class="b2__item-content-text">
							<h2 class="g-subtitle-white">Personaliza tus espacios creando armonía</h2>
							<div class="b2__item-content-link">
								<a href="#" class="g-link-black">ver catálogo</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div class="b2-2">
	<div class="b2-2__lamp">
		<figure>
			<img src="{{ STATIC_URL }}img/lamp-3.png" alt="">
		</figure>
	</div>
	<div class="b2-2__container wancho">
		<div class="b2-2__top-text">

			<div class="b2-2__top-main-text">
				<p><span class="white">CREA</span> <span class="stroke">TU</span> <span class="grey">ESPACIO</span></p>
			</div>
			<div class="b2-2__top-description-text"><p>Agenda una cita con un diseñador de interiores</p></div>
			<div class="b2-2__main-link">
				<a href="#" class="g-link-black">Sierra Design Studio</a>
			</div>
		</div>
		<div class="b2-2__img-designers">
			<div class="b2-2__img-design-item">
				<figure class="b2-2__design-img">
					<img src="{{ STATIC_URL }}img/design-1.png" alt="">
				</figure>
			</div>
			<div class="b2-2__img-design-item">
				<figure class="b2-2__design-img">
					<img src="{{ STATIC_URL }}img/design-2.png" alt="">
				</figure>
			</div>
		</div>
		<div class="b2-2__bottom-text">
			<div class="b2-2__bottom-main-text"><h2 class="g-subtitle-brown">Inspira tus espacios creando armonía</h2></div>
			<div class="b2-2__bottom-link">
				<a href="#" class="g-link-black">ver catálogo</a>
			</div>
		</div>
	</div>
	<div class="b2-2__bg-text g-marquee">
		<p class="stroke-text">INSPIRACIÓN</p>
	</div>
</div>
	</div>
	<div class="b3 section" id="section3">
		<div class="b3__container wancho">
			<div class="b3__img">
				<figure class="b3__img-url">
					<img src="{{ STATIC_URL }}img/home-bottom-img.png" alt="" width="871px" height="547px">
				</figure>
			</div>
			<div class="b3__text">
				<div class="b3__main-text">
					<h2 class="g-subtitle-white">Acabado artesanal en cada detalle</h2>
				</div>
				<div class="b3__link">
					<a href="#" class="g-link-black">ir a nosotros</a>
				</div>
			</div>
		</div>
		<div class="b3__bg-text g-marquee">
			<p class="stroke-text">ARTESANAL</p>
		</div>
	</div>
	<div class="section fp-auto-height" id="section4">
		<footer class="footer content">
			<div class="footer__suscription wancho">
				<div class="footer__suscription-text">
					<h2 class="g-subtitle-black">
						Suscríbete
					</h2>
				</div>
				<div class="footer__suscription-input g-form">
					<div class="g-form-block wancho">
						<label for="inputSuscription">Escribir e-mail</label>
						<input type="text" name="" id="inputSuscription">
						<button class="g-button">Enviar</button>
					</div>
					<div class="g-input-check-wrap">
						<div class="g-input-check">
							<input type="checkbox" name="" id="checkSuscription">
							<label for="checkSuscription" class="g-pg footer__check-label">
								<span class="check"></span>
								Acepto los <a href="#" target="_blank" class="underline">términos y condiciones</a> de Sierra Muebles
							</label>
						</div>
					</div>
				</div>
			</div>
        <div class="g-hr"></div>
        <div class="footer__nav wancho">
            <div class="footer__logo">
                <figure>
                    <img src="{{ STATIC_URL }}img/footer-logo.svg" alt="">
                </figure>
            </div>
            <div class="footer__address">
                <div class="footer__address-1">
                    <div class="footer__address-district">
                        <p>San Isidro</p>
                    </div>
                    <div class="footer__address-direction">
                        <div class="footer__address-data-1">
                            <p>Avenida conquistadores 975</p>
                        </div>
                        <div class="footer__address-data-2">
                            <p>San Isidro</p>
                        </div>
                        <div class="footer__address-data-3">
                            <p>Lunes a sábado de 10am a 7pm</p>
                        </div>
                        <div class="footer__address-data-4">
                            <p>info@sierramuebles.pe</p>
                        </div>
                        <div class="footer__address-data-5">
                            <p>7175752</p>
                        </div>
                    </div>
                </div>
                <div class="footer__address-1">
                    <div class="footer__address-district">
                        <p>San Borja</p>
                    </div>
                    <div class="footer__address-direction">
                        <div class="footer__address-data-1">
                            <p>Avenida Primavera 821</p>
                        </div>
                        <div class="footer__address-data-2">
                            <p>San Borja</p>
                        </div>
                        <div class="footer__address-data-3">
                            <p>Lunes a sábado de 10am a 7pm</p>
                        </div>
                        <div class="footer__address-data-4">
                            <p>hola@sierramuebles.pe</p>
                        </div>
                        <div class="footer__address-data-5">
                            <p>7131172</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__links">
                <div class="footer__social">
                    <div class="footer__social-instagram"><a href="#"><span class="icon-footer-instagram"></span></a></div>
                    <div class="footer__social-facebook"><a href="#"></a><span class="icon-footer-facebook"></span></div>
                    <div class="footer__social-pinterest"><a href="#"></a><span class="icon-footer-pinterest"></span></div>
                    <div class="footer__social-youtube"><a href="#"></a><span class="icon-footer-youtube __web-inspector-hide-shortcut__">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                    </span></div>
                </div>
                <div class="footer__interest">
                    <div class="footer__interest-links">
                        <div class="footer__interest-item g-pg"><a href="#">Políticas de privacidad</a></div>
                        <div class="footer__interest-item g-pg"><a href="#">Términos y condiciones</a></div>
                        <div class="footer__interest-item-book g-pg">
                            <a href="#">
                                <figure class="footer__interest-claims-book-img">
                                    <img src="{{ STATIC_URL}}img/footer-claims-book.png" alt="">
                                </figure>
                                Libro de reclamaciones
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
        <div class="g-hr"></div>
        <div class="footer__copyright wancho">
            <div class="footer_copyright-left"><p>Sierra 2019 Todos los derechos reservados</p></div>
            <div class="footer_copyright-right"><p>Diseño web por <span class="icon-corazon-staff"></span><strong class="footer__sd"><a href="#"> staffdigital <span class="icon-icomoon footer__sd-icon"></span></a></strong></p></div>
        </div>
    </footer>    
   
	</div>
</div>

{% endblock %}

{% block jsfinal %}
<script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}js/fullPage/dist/fullpage.js"></script>
<script src="{{ STATIC_URL }}js/validationform/jquery.validationEngine.js"></script>
<script src="{{ STATIC_URL }}js/fullPage/vendors/scrolloverflow.js"></script>
<script type="text/javascript">
    $(function(){
        function b1SliderOwl(){
			var cantElement = $('.b1__item').length;
			if (cantElement > 1) {
				$('.b1-slider').addClass('owl-carousel')
				$('.owl-carousel').owlCarousel({
					loop: true,
					margin: 0,
					nav: true,
					dots:true,
					items: 1,
					autoplay: true,
				});
			}  
			var owlB1 = $('.b1-slider');
			owlB1.on('changed.owl.carousel', function(property){
				var current = property.item.index;
				$('.b1__banner-text-texto').removeClass('active')
				$('.b1__banner-text-texto').eq(current).addClass('active')
			});     
		}

		b1SliderOwl()

			
		$('html').bind('mousewheel DOMMouseScroll mousedrag mousedrop', function () {
			if(($('.b2').offset().top < ($('.b2').height()) * 0) && ($('.b2').offset().top - 100 > ($('.b2').height()) * -0.50)){
				$('.b2, .b2-2').css('background-color', '#9d958c').css('transition', 'all 3s ease')
			}
			if(($('.b2').offset().top - 100 < ($('.b2').height()) * -0.50) && (($('.b2').offset().top > ($('.b2').height()) * -1))){
				$('.b2, .b2-2').css('background-color', '#9d958c').css('transition', 'all 3s ease')
			}else if(($('.b2').offset().top < ($('.b2').height()) * -1)){
				$('.b2, .b2-2').css('background-color', '#e0e0e0')
			}
		});

		var myFullpage = new fullpage('#fullpage', {
			licenseKey      : '2ABA39A1-79064DBA-83ED668A-64112085',
			verticalCentered: true,
			anchors: ['banner', 'design', 'artesanal', 'footer'],
			scrollOverflow: true,
			onLeave: function(e,i,d){
				var id_item = $(this)[0].item.id;
				var header = $('.header');
				var footer = $('.footer');
				if(id_item == 'section1' && !($(header).hasClass('scrolling')) && d == "down"){
					$(header).addClass('scrolling')
					$('.b2, .b2-2').css('background-color', '#9d958c').css('transition', 'all 5s ease')
				}else if(id_item == 'section2' && d == 'up'){
					$(header).removeClass('scrolling')
				}

				if(id_item == 'section3' && d == "down"){
					$(".footer *").addClass('active')
				}else if(id_item == 'section4' && d == 'up'){
					$(".footer *").removeClass('active')
				}

				if(id_item == 'section2'){
					$('.b2__item').removeClass('active')
				}else{
					$('.b2__item').addClass('active')
				}
			},
			onSlideLeave: function(){
				console.log('movmov')
				// //abandonando la primera diapositiva de la segunda sección y moviendo hacia la derecha
				// if(section.index == 1 && origin.index == 0 && direction == 'right'){
				// 	alert("Abandonando la diapositiva 1!!");
				// }

				// //abandonando la tercera diapositiva de la segunda sección y moviendo hacia la izquierda
				// if(section.index == 1 && origin.index == 2 && direction == 'left'){
				// 	alert("Yendo a la diapositiva 2! ");
				// }
			}
		});

	});
	$(window).on('load', function(){
		setTimeout(function(){
			$('#section2 .fp-scroller').mouseover(function(){
				console.log('func scroll')
			})
			/*
			$(window).bind('mousewheel DOMMouseScroll',function(e){
				if(e.originalEvent.wheelDelta /120 > 0) {
					console.log('scrolling up');
				}else{
					console.log('scrolling down');
				}
			})
			
			$('.fp-scroller').on('scroll', function(){
				console.log("fnccc scrolll a full")
			})
			*/
		},500)
		$('.b1__banner').addClass('active')
	})

</script>
{% endblock %}
