{% extends "common/_base.html" %}
{% block cssadicional %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/validationform/validationEngine.jquery.css">
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui/jquery-ui.css">
{% endblock %}
{% block classbody %}header-black partners{% endblock %}
{% block content %}


<div class="g-banner g-banner-wancho">
    <span class="g-banner__rectangle"></span>
    <div class="g-banner__img" style="background-image:url('{{ STATIC_URL}}img/banner-partners.png')">
        <div class="g-banner_bread-crumbs g-bread crumbs-white wancho-banner">
			<div class="g__scrumb">
				<span class="icon-flecha-regresar"></span>
                <a href="#"><span>Sierra</span></a>
            </div>
            <div class="g__scrumb">
                <a href="#"><span>Sierra Partners</span></a>		
            </div>
        </div>

        <div class="g-banner__text">
			<h1 class="g-title-white wancho wancho-banner">Sierra Partners</h1>
        </div>
    </div>
</div>

<div class="container-b13">
        <!-- eliminar el primer div y el styl-->
        <div class="container-b13__group wancho2">
            <p class="container-b13__group__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
            <img src="{{STATIC_URL}}img/lamp-2.png" class="lamp-2" alt="">
        </div>
    </div>


<div class="container-b14">
    <div class="container-b14__group wancho3">
        <div class="container-b14__group__title">
            <h1 class="g-title-black">¿Eres Diseñador o Arquitecto?</h1>
        </div>
        <div class="container-b14__group__subtitle">
            <h4>Completa el siguiente formulario y sé parte de SIERRA PARTNERS:</h4>
        </div>
        <form class="container-b14__group__form g-form validate-form">
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Apellido-paterno">Apellido paterno*</label>
                    <input type="text" id="Apellido-paterno" class="g-input-text validate[required]">
                </div>
                <div class="g-form-block input-b14">
                    <label for="Apellido-materno">Apellido Materno</label>
                    <input type="text" id="Apellido-materno" class="g-input-text">
                </div>
                <div class="g-form-block input-b14">
                    <label for="Nombres">Nombres*</label>
                    <input type="text" id="Nombres" class="g-input-text validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Fecha">Fecha*</label>
                    <input type="text" id="datepicker" class="g-input-text validate[required]" autocomplete="off">
                </div>
                <div class="g-form-block input-b14">
                    <label for="DNI">DNI*</label>
                    <input type="text" id="DNI" class="g-input-text validate[maxSize[8]] validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Fecha-de-nacimiento">Fecha de Nacimiento*</label>
                    <input type="text" id="datepicker2" class="g-input-text validate[required]" autocomplete="off">
                </div>
                <div class="g-form-block input-b14">
                    <label for="Lugar-nacimiento">Lugar de Nacimiento*</label>
                    <input type="text" id="Lugar-nacimiento" class="g-input-text validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Dirección">Dirección*</label>
                    <input type="text" id="Dirección" class="g-input-text validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Telefonos">Teléfonos*</label>
                    <input type="text" id="Telefonos" class="g-input-text validate[maxSize[9]] validate[required]">
                </div>
                <div class="g-form-block input-b14">
                    <label for="E-mail">E-mail*</label>
                    <input type="text" id="E-mail" class="g-input-text validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__bloque">
                <div class="g-form-block input-b14">
                    <label for="Profesión">Profesión*</label>
                    <input type="text" id="Profesión" class="g-input-text validate[required]">
                </div>
                <div class="g-form-block input-b14">
                    <label for="Firma">Firma*</label>
                    <input type="text" id="Firma" class="g-input-text validate[required]">
                </div>
            </div>
            <div class="container-b14__group__form__term">
                <div class="container-b14__group__form__term__accept g-input-check">
                    <input type="checkbox" id="check-b14" name="check" class="validate[required]">
                    <label for="check-b14">
                        <span class="check"></span>
                        <p>Acepto los <a class="underline" href="#">términos y condiciones</a></p>
                    </label>
                </div>
                <div class="btn-b14">
                    <button class="g-button black" type="submit">Enviar</button>
                </div>
            </div>
        </form>
        <div class="container-b14__group__tasks">
            <ol>
                <li>Debe asesorar constantemente al cliente sobre qué productos SIERRA MUEBLES puede comprar mientras visitan juntos nuestras tiendas.</li>
                <li>Para ventas en muebles de Sierra, la comisión es del 10%. Para adornos, menaje, cuadros y alfombras la comisión es del 5%. Los cojines decorativos no se comisionan.</li>
                <li>Si es primera vez que el arquitecto o diseñador visita la tienda, la comisión por ventas menores a USD 3,000 es del 5%. Una vez superado este monto, la comisión se incrementa al 10%.</li>
                <li>Si en un periodo de 4 meses las compras de sus clientes superan los USD 50,000 se le otorgará al afiliado un vale de USD 800 en muebles stock de la tienda.</li>
                <li>A los afiliados al programa que más ventas hayan realizado en el periodo de 1 año se les premiará con un viaje a Gramado – Brasil a conocer la fábrica.</li>
                <li>La comisión se pagará al mes siguiente de cancelado y entregado el 100% del pedido.</li>
                <li>Los porcentajes se aplican sobre la base imponible de la compra del cliente.</li>
                <li>Los porcentajes descritos aplicarán siempre y cuando no se realicen descuentos a los clientes.</li>
            </ol>
        </div>
    </div>
</div>


    {% endblock %}
    {% block jsfinal %}
    <script src="{{ STATIC_URL }}js/validationform/jquery.validationEngine.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
                app.form();

            /* Validation Form  */
            $(".validate-form").validationEngine('attach', {
                promptPosition : "topLeft",
                autoHidePrompt: true,
                autoHideDelay: 4000,
                binded: false,
                scroll: false,
                validateNonVisibleFields: true,
            });
            $( "#datepicker" ).datepicker();
            $( "#datepicker2" ).datepicker();
        });
    </script>
    {% endblock %}