{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}

<div class="b5">
	<div class="b5__wrapper">
		<div class="g-bread wancho">
			<div class="g__scrumb">
				<span class="icon-flecha-regresar"></span>
				<a href="#"><span>Sierra</span></a>
			</div>
			<div class="g__scrumb">
				<a href="#"><span>Mesas</span></a>		
			</div>
			<div class="g__scrumb">
				<a href="#"><span>De centro</span></a>		
			</div>
		</div>
		<div class="b26__title wancho">
			<div class="b26__title-search">
				<h1 class="g-title-black">Mesas</h1>
			</div>
			<div class="b26__title-results">
				<p class="g-pg">Se encontraron 4 resultados</p>
			</div>
		</div>
	</div>
	<div class="b5__selector wancho">
		<div class="b5__selector-searcher">
			<div class="block-general">
				<div class="g-form">
					<div class="g-form-block">
						<label for="inputSelect">Ordenar por</label>
						<select id="inputSelect" class="g-input-select">
							<option class="g-input-option" value="" disabled selected></option>
							<option class="g-input-option">Opción 1</option>
							<option class="g-input-option">Opción 2</option>
							<option class="g-input-option">Opción 3</option>
							<option class="g-input-option">Opción 4  </option>
						</select>
						<span class="icon-dropdown g-input-select-icon"></span>
					</div>
				</div>
			</div>
			<div class="block-general">
				<div class="g-form">
					<div class="g-form-block">
						<label for="inputSelect">Material</label>
						<select id="inputSelect" class="g-input-select">
							<option class="g-input-option" value="" disabled selected></option>
							<option class="g-input-option">Opción 1</option>
							<option class="g-input-option">Opción 2</option>
							<option class="g-input-option">Opción 3</option>
							<option class="g-input-option">Opción 4  </option>
						</select>
						<span class="icon-dropdown g-input-select-icon"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="b5__selector-page">
			<div class="b5__selector-page-cnt">
				<a>1</a>
			</div>
			<div class="b5__selector-page-cnt">
				<a>2</a>
			</div>
			<div class="b5__selector-page-cnt">
				<a><i class="icon-flecha"></i></a>
			</div>
		</div>
	</div>
	<div class="b5__cnt">
		<div class="b5__cnt-box">
			<figure class="b5__cnt-box-figure">
				<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/C4A063DE-607F-4F0D-9F41-9869D15B052A.png" alt="imagen de muestra">
			</figure>
			<div>
				<p class="g-product-name">Mesa de centro Mosaico</p>
			</div>
		</div>
		<div class="b5__cnt-box">
			<figure class="b5__cnt-box-figure">
				<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/2AC0AE65-8DF2-4FF9-BBBB-BFA241205E2F.png" alt="imagen de muestra">
			</figure>
			<div>
				<p class="g-product-name">Mesa de centro Mosaico</p>
			</div>
		</div>
		<div class="b5__cnt-box">
			<figure class="b5__cnt-box-figure">
				<img src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/76F89212-8078-4064-84CE-1DD7C1F6B6EC.png" alt="imagen de muestra">
			</figure>
			<div>
				<p class="g-product-name">Mesa de centro Mosaico</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block jsfinal %}


<script>
	$(function(){
		app.form()

		$el = $(".b5__cnt"),
        $item = $(".b5__cnt-box")
        
        $item.each(function(){
            if(($(window).outerHeight() + $(window).scrollTop()) > $(this).offset().top + 10)
            $(this).addClass('active')
        })
        
        $(document).on('scroll', function(){
            $item.each(function(){
                if(($(window).outerHeight() + $(window).scrollTop()) > $(this).offset().top + 10)
                $(this).addClass('active')
            })
		})
		
	})
</script>
{% endblock %}