{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black{% endblock %}
{% block content %}



<div class="b18">
    <div class="b18__bg">
    </div>
    <div class="b18__title wancho2">
        <h1 class="g-title-black">Nuestras Tiendas</h1>
    </div>
    <div class="b18__cnt wancho">
        <article class="b25__cnt-list-art">
            <figure class="b25__cnt-list-art-figure">
                <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/946F83FA-BBFC-4303-8059-595AE3407E97.png" alt="imagen de muestra">
            </figure>
            <div class="b25__cnt-list-art-box">
                <div class="b18__cnt-description">
                    <div class="b18__cnt-description-title">
                        <h3 class="g-h3 m-b-20">San Isidro</h3>
                    </div>
                    <div class="b18__cnt-description-txt">
                        <div class="b18__cnt-description-txt-addres">
                            <div class="b18__cnt-description-txt-addres-container m-b-20">
                                <p class="g-description title">Dirección:</p>
                                <p class="g-description street">Calle Lord Cochrane 151</p>
                            </div>
                            <div class="b18__cnt-description-txt-addres-container">
                                <p class="g-product-name m-b-20">¿Cómo llegar?</p>
                                <a class="icon-tiendas-waze g-product-name" href="https://www.waze.com/ul?ll=-12.10572450%2C-77.03707230&navigate=yes&zoom=16" target="_blank"></a>
                                <a class="icon-tiendas-googlemaps g-product-name" href="https://goo.gl/maps/6bsSBcvopt4FhjBJA" target="_blank"></a>
                            </div>
                        </div>
                        <div class="b18__cnt-description-txt-addres">
                            <div class="b18__cnt-description-txt-addres-container m-b-20">
                                <p class="g-description title">Horario:</p>
                                <p class="g-description">Sábados de 10.30 a 13.30.</p>
                                <p class="g-description">Lunes a viernes 10 a 19.30.</p>
                            </div>
                            <div class="b18__cnt-description-txt-addres-container">
                                <p class="g-description title">Contacto:</p>
                                <p class="g-description">info@sierramuebles.pe</p>
                                <p class="g-description">(511)342 3388</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <figure class="b25__cnt-list-art-box-figure">
                    <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/CD5C941D-5226-4D0B-A2CD-49C9200A39B9.png" alt="imagen de material">
                </figure>
            </div>
        </article>
        <article class="b25__cnt-list-art">
            <figure class="b25__cnt-list-art-figure">
                <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/023A1201-F251-4755-90F2-653BA0E301F0.png" alt="imagen de muestra">
            </figure>
            <div class="b25__cnt-list-art-box">
                <div class="b18__cnt-description">
                    <div class="b18__cnt-description-title">
                        <h3 class="g-h3 m-b-20">San Borja</h3>
                    </div>
                    <div class="b18__cnt-description-txt">
                        <div class="b18__cnt-description-txt-addres">
                            <div class="b18__cnt-description-txt-addres-container m-b-20">
                                <p class="g-description title">Dirección:</p>
                                <p class="g-description street">Avenida Primavera 821</p>
                            </div>
                            <div class="b18__cnt-description-txt-addres-container">
                                <p class="g-product-name m-b-20">¿Cómo llegar?</p>
                                <a class="icon-tiendas-waze g-product-name" href="https://www.waze.com/ul?ll=-12.11024286%2C-76.98414087&navigate=yes&zoom=170" target="_blank"></a>
                                <a class="icon-tiendas-googlemaps g-product-name" href="https://goo.gl/maps/ZfV2xsBFoyCPDEL76" target="_blank"></a>
                            </div>
                        </div>
                        <div class="b18__cnt-description-txt-addres">
                            <div class="b18__cnt-description-txt-addres-container m-b-20">
                                <p class="g-description title">Horario:</p>
                                <p class="g-description">Lunes a viernes de 10 a 19.30. ?</p>
                                <p class="g-description">Sabados de 10.30 a 13.30. </p>
                            </div>
                            <div class="b18__cnt-description-txt-addres-container">
                                <p class="g-description title">Contacto:</p>
                                <p class="g-description">hola@sierramuebles.pe</p>
                                <p class="g-description">(511)123 3444</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <figure class="b25__cnt-list-art-box-figure">
                    <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/A44112D5-D159-461D-82F2-F32B27E9F892.png" alt="imagen de material">
                </figure>
            </div>
        </article>
    </div>
</div>
    
    









{% endblock %}
{% block jsfinal %}
{% endblock %}