{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}
{% block classbody %}header-black world{% endblock %}
{% block content %}

<div class="g-banner g-banner-wancho">
    <span class="g-banner__rectangle"></span>
    <div class="g-banner__img" style="background-image:url('{{ STATIC_URL }}img/banner-g.png')">
        <div class="g-banner_bread-crumbs g-bread crumbs-white wancho-banner">
			<div class="g__scrumb">
				<span class="icon-flecha-regresar"></span>
                <a href="#"><span>Sierra</span></a>
            </div>
            <div class="g__scrumb">
                <a href="#"><span>The World of Materials</span></a>		
            </div>
        </div>

        <div class="g-banner__text">
			<h1 class="g-title-white wancho wancho-banner">The World of Materials</h1>
        </div>
    </div>
</div>


<div class="b25">
    <div class="b9">
            <div class="container-b13">
                <!-- eliminar el primer div y el styl-->
                <div class="prueba"></div>
                <div class="container-b13__group wancho2">
                    <p class="container-b13__group__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
                    <img src="{{STATIC_URL}}img/lamp-2.png" class="lamp-2" alt="">
                </div>
            </div>
        </div>
    <div class="b25__cnt wancho">
        <div class="b25__cnt-list">
            <article class="b25__cnt-list-art">
                <figure class="b25__cnt-list-art-figure">
                    <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/B54484A7-5591-4BBF-9C3B-50FCB0B419CB.png" alt="imagen de muestra">
                </figure>
                <div class="b25__cnt-list-art-box">
                    <figure class="b25__cnt-list-art-box-figure">
                        <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/7D7E7298-3F9E-4801-8C2D-9A48ABE7FDD9.png" alt="imagen de material">
                    </figure>
                    <div class="b25__cnt-list-art-box-text">
                        <h3 class="b25__cnt-list-art-box-tittle">Madera</h3>
                        <div class="b25__cnt-list-art-box-description">
                            <p class="g-pg">
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </p>	
                        </div>
                    </div>
                </div>
            </article>
            <article class="b25__cnt-list-art reverse">
                <figure class="b25__cnt-list-art-figure">
                    <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/023A1201-F251-4755-90F2-653BA0E301F0.png" alt="imagen de muestra">
                </figure>
                <div class="b25__cnt-list-art-box">
                    <figure class="b25__cnt-list-art-box-figure">
                        <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/47B9597C-A064-462F-A8ED-A6048108BAEA.png" alt="imagen de material">
                    </figure>
                        <div class="b25__cnt-list-art-box-text">
                            <h3 class="b25__cnt-list-art-box-tittle">Marble</h3>
                        <div class="b25__cnt-list-art-box-description">
                            <p class="g-pg">
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </p>
                        </div>	
                    </div>
                </div>
            </article>
            <article class="b25__cnt-list-art">
                <figure class="b25__cnt-list-art-figure">
                    <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/4F24E445-CDF8-4242-A6AD-1589A7010F56.png" alt="imagen de muestra">
                </figure>
                <div class="b25__cnt-list-art-box">
                    <figure class="b25__cnt-list-art-box-figure">
                        <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/EEEBAEBA-5328-485A-A61C-D4EE9418A1CD.png" alt="imagen de material">
                    </figure>
                    <div class="b25__cnt-list-art-box-text">
                        <h3 class="b25__cnt-list-art-box-tittle">Madera</h3>
                        <div class="b25__cnt-list-art-box-description">
                            <p class="g-pg">
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </p>	
                        </div>
                    </div>
                </div>
            </article>
            <article class="b25__cnt-list-art reverse">
                <figure class="b25__cnt-list-art-figure">
                    <img class="b25__cnt-list-art-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/023A1201-F251-4755-90F2-653BA0E301F0.png" alt="imagen de muestra">
                </figure>
                <div class="b25__cnt-list-art-box">
                    <figure class="b25__cnt-list-art-box-figure">
                        <img class="b25__cnt-list-art-box-figure-img" src="https://cdn.zeplin.io/5ccb5d47be9abf6839fe55ab/assets/47B9597C-A064-462F-A8ED-A6048108BAEA.png" alt="imagen de material">
                    </figure>
                    <div class="b25__cnt-list-art-box-text">
                    <h3 class="b25__cnt-list-art-box-tittle">Marble</h3>
                        <div class="b25__cnt-list-art-box-description">
                            <p class="g-pg">
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </p>	
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>






{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	function animationScroll(item, wrapper){
		var sc_top = $(this).scrollTop()
		var height_screen = $(window).height()
		var suma = (sc_top + height_screen) - 150
		var top_item = $(wrapper).offset().top
		if(suma > top_item){
			$(item).addClass('active')
		}
	}
	$(function(){
		$(window).on("scroll", function(){
			animationScroll(".container-b13__group__text, .lamp-2", ".container-b13__group")
		})
        // alert($(window).width(9))
	});
</script>
{% endblock %}