$form-element-style
	font-family t-2
	font-size 13px
	color c-0
	height 20px
	width 100%
	margin-top 10px
	padding 10px 0px
	border 0
	border-bottom 1px solid #969696
	border-radius 0
.g-
	&title-white
		color c-11
		font-size 45px
		font-family t-3
		line-height 49px

	&title-black
		color c-0
		font-size 45px
		font-family t-3
		line-height 49px


	&subtitle-white
		color c-11
		font-size 40px
		font-family t-3
		line-height 45px


	&subtitle-black
		color c-0
		font-size 40px
		font-family t-3
		line-height 49px


	&subtitle-brown
		color c-10
		font-size 40px
		font-family t-3
		line-height 45px


	&h3
		color c-0
		font-size 30px
		font-family t-3
		line-height 49px


	&h4
		color c-10
		font-size 25px
		font-family t-3
		line-height 30px

	&description
		color c-0
		font-size 14px
		font-family t-2
		line-height 21px
		margin 0

	&pg
		color c-10
		font-size 14px
		font-family t-2
		line-height 25px

	&product-name
		color c-8
		font-size 13px
		font-family t-0
		text-align center
		letter-spacing 1px

	&link
		font-size 15px
		font-family t-3
		&:before
			content ""
			display inline-block
			margin-right 9px
			width 10px
			height 10px
			border-radius 50%
			background-color c-10
		&-white
			padding-left 25px
			color c-11
			&:before
				content ""
				display inline-block
				margin-right 9px
				width 10px
				height 10px
				border-radius 50%
				background-color c-11
		&-black
			padding-left 25px
			color c-10
			font-family t-0
			&:before
				content ""
				display inline-block
				margin-right 9px
				width 10px
				height 10px
				border-radius 50%
				background-color c-10
			&:hover
				color c-11
				&:before
					background-color c-11

	&select-cnt
		height 50px
		width 100%
		font-size 13px
		position relative
	&select-wrap
		height 100% 
		border none
		border-bottom 1px solid #969696
		width 100%
		height 100%	

	&form-block
		position relative
	&form
		width 100%
		&-block
			position relative
			.g-input-select-icon
				position absolute
				right 5px
				bottom 10px
				pointer-events none
				font-size 6px
			label 
				position absolute
				font-size 13px
				font-family t-2
				color c-12
				top 25px
				left 0px
				transition 0.25s
				pointer-events none
				&.label-selected
					top 5px
					left 0
					transform scale(0.8)
					transform-origin left
					left 0px
					transition 0.45s
		input[type="text"], input[type="password"], input[type="date"], select, textarea
			@extends $form-element-style;
			background none
		textarea
			padding 15px 0px
			height 55px
		select
			height 41px
			appearance none
			-webkit-appearance none
			padding-bottom 0
		.g-input-radio
			label
				display flex
				align-items center
		.g-input-radio, .g-input-check
			@extends $form-element-style
			border none
			position relative
			color c-12
			display flex
			align-items center
			input[type="radio"], input[type="checkbox"]
				opacity 0
				display none
			.radio, .check
				position absolute
				left 0
				top -2px
				margin auto
				width 20px
				height 20px
				border 1px solid #969696
				border-radius 50%
				transition 0.3s
			.radio
				top 0
			.check
				border-radius 5%
				border-color c-0
				top -3px
			label
				width 100%
				height 100%
				margin 0px
				padding-left 30px
				position relative
			input[type="checkbox"] ~ label
				color c-0
			input[type="radio"] ~ label
				display flex
				align-items center
				padding-top 2px
			input[type="radio"]:checked ~ label, input[type="checkbox"]:checked ~ label
				color c-0
				.radio, .check
					background-color c-0
					transition 0.3s
			input[type="radio"]:checked ~ label:before, input[type="checkbox"]:checked ~ label:before
				content "\e902"
				font-family 'icomoon'
				position relative
				z-index 3
				color c-11
				width 15px
				height 15px
				font-size 10px
				display inline
				position absolute
				left 5px
				top 3px
			input[type="radio"]:checked ~ label:before
				top 5px
				left 4.5px
				padding-top 2px
			input[type="radio"]:checked ~ label .radio, input[type="checkbox"]:checked ~ label .check
				border-color c-0
		.g-input-radio
			width auto
			margin 0
			padding-right 25px
  	&button
		font-family t-3
		width 100%
		height 50px
		border none
		&.white
			color c-0
			border 1px solid c-0
			background none
			transition 0.25s
			&:hover
				color c-11
				background c-0
				transition 0.25s
		&.black
			color c-11
			background c-5
			&:hover
				background-color c-6
.g-banner
	position relative
	padding-top 80px
	opacity 1
	transition all .5s ease
	box-shadow: 30px 20px 153px -38px rgba(0,0,0,0.4);
	height 600px
	overflow hidden
.g-banner__img
	height 600px
	background-size cover
	background-position center
	transform scaleY(1.3) 
	transform-origin top
	&.load_doom
		transform scaleY(1)
		opacity 1
		transition all 1s ease-in
	&:before
		content ''
		position absolute
		width 100%
		height 100%
		background-image linear-gradient(to top, #000000, #000000)
		opacity 0.4
		z-index 4
.g-banner__text
	display flex
	position relative
	height 50%
	width 100%
	z-index 100
	margin 0
	opacity 0
	padding 0
	width 735px
	transform translateY(30px)
	&.load_doom
		opacity 1
		transition all .5s ease-out .75s
		transform translateY(0)
.g-banner__bread-crumbs
	padding 50px 0 !important 
.g-bread
	position relative
	z-index 100
	display flex
	font-size 12px
	flex-wrap wrap
	font-family t-2
	color c-0
	padding-top 130px
	padding-bottom 50px
	opacity 0
	*
		padding-right 2px
	&.load_doom
		opacity 1
		transition all .5s ease-out .75s
	&.crumbs-white
		color c-9
	.icon-flecha-regresar
		margin 0px 10px
	opacity 0
	transform translateY(30px)
	transition all 1s ease
	&.load_doom
		opacity 1
		transform translateY(0px)
.g__scrumb
	&:hover
		&:not(:last-child)
			a
				text-decoration underline
	&:first-child
		&:hover
			.icon-flecha-regresar
				position relative
				animation bcArrow .70s linear 0s infinite
	&:after
		content "/"
	&:last-child
		pointer-events none
		&:after
			content ""
.g-hr:after
	content ""
	position absolute
	right 0
	left 0
	width 100%
	height 1px
	background-color #eeeeee
		
.underline
	text-decoration underline

.g-marquee
	width 100%
.stroke-text
	text-transform uppercase
	font-family t-5
	font-size 235px
	color transparent
	-webkit-text-stroke c-7 .4px
	white-space nowrap
	position absolute
	animation marquee 20s linear 0s infinite
.formError
	width 100%
	border-top 1px solid red
.g-input-radio-wrap
.g-input-check
	.formError
		border-top none

.g-banner-wancho
	max-width 90%
	width 90%
	margin auto

.g-banner_bread-crumbs
	padding 70px

@media screen and (max-width: 1024px)
	.g-banner
		&-wancho
			max-width 100%
			width 100%
		.wancho-banner
			padding-left 10%
@media screen and (max-width:768px)
	.g-button
		margin-top 30px
	.g-banner__text
		.g-title-white
			font-size 30px
	.g-bread
		padding 120px 10px 30px 10px
	.g-banner_bread-crumbs
		padding 40px 10px 0px 10px
	.g-title-black
	.g-title-white
	.b22-title-center
		font-size 25px
	.g-subtitle-black
	.g-subtitle-brown
		font-size 20px
	.g-h3
		font-size 16px
@media screen and (max-width: 475px)
	.g-banner__text
		width auto

@keyframes bcArrowContacto
	0%
		transform translateX(0%)
		opacity 1
	50%
		transform translateX(10px)
		opacity 0.5
	100%
		transform: translateX(20px)
		opacity 0

@keyframes bcArrow
	0%
		left: 0%
		transform: translateX(0%)
	50%
		left: -15px
		transform: translateX(100%)
	100%
		left: 0%
		transform: translateX(0%)

@keyframes marquee
	0%
		left: 100%
		transform: translateX(0%)
	100%
		left: 0%
		transform: translateX(-100%)

.wancho-banner
	padding-left 140px