$counter-dots
    font-size 30px
    font-family t-2
    color c-7
.header
    background transparent !important 
.b1
    opacity 0.7
    transform scale(1.5)
    transition .5s
    &.active
        opacity 1
        transform scale(1)
    .owl-nav
        display none
    &__item
        position relative
    &__banner-img
        height 100vh
        background-size cover
        background-position center
    &__banner-text
        z-index 200
        position absolute
        width 37%
        height 45%
        bottom 10px
        right 120px
    &__banner-text-texto
        opacity 0
        transition all 1s ease
        transform translateY(-100px)
        &.active
            opacity 1
            transform translate(0)
    &__banner-text-link
        margin-top 25px
        opacity 0
        transition all 1s ease .25s
        transform translateY(-100px)
        &.active
            opacity 1
            transform translate(0)
    &__rectangle
        position absolute
        top 0
        left 0
        z-index 100
        width 100%
        height 100%
        opacity 0.8
        background-image linear-gradient(to top, rgba(0, 0, 0, 0), #000000)
    &__banner-filtro
        position absolute
        z-index 100
        width 100%
        height 100%
        background-blend-mode multiply
        background-image linear-gradient(to bottom, rgba(13, 13, 13, 0.34), rgba(13, 13, 13, 0.34))

    .owl-dots
        counter-reset slides-num
        position absolute
        z-index 99
        right 100px
        bottom 70px
        &:before
            @extends $counter-dots
            content ""
            display inline-block
            width 1px
            height 60px
            position absolute
            bottom 0
            background-color c-7
            transform rotate(45deg)
        &:after
            @extends $counter-dots
            font-size 20px
            content "0"counter(slides-num)
    .owl-dot
        display inline-block
        counter-increment slides-num
        span
            display none
        &.active
            &:before
                @extends $counter-dots
                content "0" counter(slides-num)
                color c-11  
                display inline-block
                position absolute
                right 35px
                bottom 30px
    &__mouse-scroll
        position absolute
        z-index 1000
        left 100px
        bottom 50px
        color c-11
        .icon-scroll
            font-size 40px
     &__text-scroll
        position absolute
        left 75px
        bottom 130px
        z-index 1000
        p
            font-family t-2
            font-size 14px
            color c-11
            transform rotate(-90deg)
.owl-item
    &.active
        .b1__banner-text-texto
            opacity 1
            transform translate(0)
        .b1__banner-text-link
            opacity 1
            transform translate(0)
@media screen and (max-width: 1024px)
    .b1
        .owl-dots
            right 50px
            bottom 50px
@media screen and (max-width: 767px)
    .b1
        &__banner-text
            left 0
            right 0
            margin auto