.b10
    padding-top 100px
    padding-bottom 70px
    overflow hidden
    position relative
    background-color c-9
    padding-top 480px
    margin-top -430px
    &-container
        padding-top 100px
        display flex
        justify-content center
    &__img
        position relative
        max-width 450px
        bottom -210px
        z-index 10
    &_img
        &-url
            opacity 0
            transform translateY(100px)
            transition all 1s ease-in 1.2s
            &.load_doom
                opacity 1
                transform translateY(0)
                transition all 1s ease-in 1.2s
    &__text
        max-width 715px
        .g-subtitle-brown
            font-family t-7
        &-title
            transform translateX(100px)
            opacity 0
            transition all 2s ease
            &.active
                opacity 1
                transform translateX(0px)
        &-content
            margin-top 33px
            display flex
            transform translateY(100px)
            opacity 0
            transition all 2s ease
            &.active
                opacity 1
                transform translateY(0px)
            &-item
                padding-right 50px
        &-link
            position relative
            z-index 10
            opacity 0
            transform translateY(100px)
            transition all 2s ease
            &.active
                opacity 1
                transform translateY(0px)
                transition all 2s ease
            .g-link
                color c-10
    &__bg-text
        position absolute
        bottom 200px
        .stroke-text
            font-size 250px

@media screen and (max-width:1024px)
    .b10
        &__text-content
            flex-direction column

@media screen and (max-width:960px)
    .b10
        padding-bottom 0px
        &-container
            padding-top 0
            flex-direction column-reverse
            align-items center
        &__img
            bottom -100px
	.b10
		margin-top 0
		padding-top 30px
	.b10-container
		padding-top 0
@media screen and (max-width:580px)
    .b10
        &__img
            bottom -80px
    .g-banner__text
        width auto
@media screen and (max-width:350px)
    .b10
        &__img
            bottom -60px