.b11
	margin-bottom 120px
	&__cnt
		&-description
			display flex
			justify-content space-between
			align-items flex-end
			padding-bottom 50px
			&-title
				width 50%
			opacity 0
			transform translateY(50px)
			transition all 1s ease
			&.load_doom
				opacity 1
				transform translateY(0px)
		.g-form
			width 200px
			label
				color c-0
				top 30px
				&.label-selected
					top 0
			select
				border none
		&-box
			@media screen and (max-width 480px)
				max-width 250px
			&-container
				opacity 0
				transform translateY(50%)
				transition all .7s ease
				&.active
				//	opacity 1
				//	transform scale(1)
					opacity 1
					transform translateY(0px)
				box-shadow: 20px 40px 60px 0 rgba(0, 0, 0, 0.08);
				&-figure
					&-img
						width 250px
				&-letter
					width 250px
					background-color right 
					&-p
						width 230px
						margin auto
						height 76px
						font-size 14px

.grid-item
	width 250px
	margin-bottom 25px

.wrapp-box
	text-align center
	padding-top 5%
	z-index 1020
	.figure
		position relative
	img 
		width 40%
	.icon-cerrar
		position absolute
		display block
		font-size 27.6px
	.close-boxlight
		top 37.5px !important
		right 37.5px !important
		border none 
		background-color transparent
		width 27.6px
		height 27.6px
		&:after
			content '\e901'
			font-family icomoon

.inspiracion
	.wrapp-box-inner
		display flex
		justify-content center
	.boxlight
		overflow hidden
		max-width 80%
		width 100%
		max-height 80%
		height 100%
		background white
	.box-wrap
		display flex
		justify-content flex-end
		position absolute
		bottom 25px
		right 25px
	.box-item
		margin 0
		padding 10px
		text-align center
		background-color c-11
		box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.2);
		border-radius 50%
		margin-left 12px
	.box-cnt-img
		max-height 100%
		height 100%
		max-width 100%
		width 100%
	.ins-icon
		i
			font-size 15px
	.box-social-item
		position relative
	.social-hover
		opacity 0
		position absolute
		bottom 100%
		left -50%
		right 0
		margin auto
		height 50px
		width 100px
		padding-bottom 5px
		transition all 0.3s ease
		visibility hidden
		&:before
			opacity 1
			bottom 0
			content ''
			display block
			left -10px
			right 0
			margin auto
			height 40px
			width 125px
			background-color c-11
			position absolute
			top -45%
			border-radius 7.5%
			transition all 0.3s ease
			z-index 9
		&:after
			opacity 1
			bottom 0
			content ''
			display block
			left 5px
			right 0
			margin auto
			height 20px
			width 20px
			background-color c-11
			position absolute
			top 0
			transform rotate(45deg)
			transition all 0.3s ease
			box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.14);
	.social-hover-wrap
		position absolute
		z-index 9
		display flex
		align-items center
		top 0
		bottom 45%
		width 125px
		height 40px
		left -10px
		box-shadow: -2px 10px 14px 2px rgba(0,0,0,0.1)
		.social-item
			width 30px
			height 30px
			background white
			border-radius 50%
			box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.2);
			display flex
			justify-content center
			align-items center
			color white
			a
				padding 7.5px
			&.instagram
				background-image: radial-gradient(circle at 3% 3%, #6144cf, #c800aa 40%, #f70062 69%, #ffc853);
			&.facebook
				background-color: #39436f;
			&.pinterest
				background-color: #b90b22;
	.social, .social-hover
		&:hover ~ .social-hover
			opacity 1
			transition all 0.3s ease
			visibility visible
		&:hover
			opacity 1
			transition all 0.3s ease
			visibility: visible
.boxlight
	animation popUp .5s 
	animation-iteration-count 1


@keyframes popUp
	from
		transform scale(0)
	to
		transform scale(1)

@media screen and (max-width:1024px)
	.inspiracion
		.box-cnt-img
			height 550px
			width auto
@media screen and (max-width:767px)
	.inspiracion
		.boxlight
			max-width 100%

@media screen and (max-width:540px)
	.b11
		&__cnt-description
			flex-direction column
			&-title
				width 100%
			.g-form
				width 50%
				align-self center