.b12
    .owl-nav
        position: absolute;
        right: 0;
        bottom: 100%;
        z-index: 99;
        display: flex;
        margin-bottom: 20px;
        margin-right: 20px;
        
    .owl-prev
    .owl-next
        font-size 50px
        margin-right 20px
   
    .owl-item
        opacity 0.35
        .b12-slide-rectangle-text1
            opacity 0
            transform translateY(100px)
            transition:  all .25s ease
        &.center
            opacity 1
            .b12-slide-rectangle-text1
                opacity 1
                transform: translate(0px) 
    &-text
        color c-10
        font-size 40px
        font-family t-7
        max-width 735px
        margin-bottom 75px
        margin-top 75px
        &-block1
            color c-10
            font-size 40px
            font-family t-7
            max-width 714px
            font-size 40px
            margin-top 97px
            margin-bottom 40px
        &-block2
            color c-10
            max-width 350px
            padding 5px
            font-size 14px
            font-family t-2
            line-height 1.79
            margin-right 5%
        &-block3
            padding-top 15px
            display flex
            align-items center
            text-align center
            &-cita
                color c-0
                font-family t-3
                font-size 25px
            button 
                margin 15px 0
                margin-left 50px
                width 180px
                background-color c-5
                color c-11
                font-size 14px

    &-slide
        //max-width 100%
        /*height  auto
        display flex
        flex-direction row
        align-items center
        margin-bottom 0px
        cursor pointer
        */
       

        position relative
        &-rectangle
            margin-right 40px
            //margin-left 40px
            margin-bottom 0px
            img
                display block
                margin: auto
                max-width: 100%
                height: auto

            &-text1
                color c-11
                position absolute
                top 85%
                left 10%
    
    &-container
        display flex
        flex-direction row
        align-items center
        margin-top 0px
        margin-bottom 100px
        background-color #f8f8f8
        &-img 
            //width 436px
            position relative
            top -145px
            margin-top 0px
            margin-right 50px
            img 
                display block
                margin: auto
                max-width: 100%
                height: auto
        &-right
            display flex
            flex-direction column
            max-width 100%
            &-center
                display flex
                flex-direction row
                align-items flex-start


.b122
	img
		box-shadow: 17px 27px 48px -2px rgba(184,184,184,1);
	&-text
        font-size 40px
        font-family t-3
        margin-bottom 50px

    &__cnt
		&-list
            &-art
            	display flex
				justify-content space-between
				margin-bottom 140px
                max-width 
				&-figure
					margin 0
					&-img
						width 612px
				&-box
					display flex
					flex-direction column
					justify-content center
					&-figure
						margin 0
						&-img
							width 510px
					&-tittle
						font-size 18px
						margin 20px 0
					&-description
						width 510px
						.g-product-name
							text-align left
							font-size 16px 


//@media screen and (max-width 1024px)


@media screen and (max-width 960px)
    .b12
        &-container
            &-img
                display none
            &-right
                margin auto
                
@media screen and (max-width 768px)
    .b12 
        &-text
            font-size 20px
            &-block1
                font-size 20px
        .owl-prev
        .owl-next
            font-size 30px
            margin-right 10px

@media screen and (max-width 480px)

    .b12 
        &-text
            font-size 20px
            
        &-container
            &-right            
                &-center
                    flex-flow column nowrap

                   

        




  