.container-b13
	width 100%
	background-color c-11
	&__group
		display flex
		padding-bottom 82px
		&__text
			margin 0
			padding 0
			max-width 735px
			font-size 40px
			font-family 'MillerDisplay-Light'
			color c-10
			font-weight 300
			padding-top 99px
			margin-right 91.2px
			transform translateX(-100px)
			opacity 0
			transition all 1.5s ease
			&.active
				opacity 1
				transform translateX(0px)
		.lamp-2
			transform translateY(100px)
			opacity 0
			transition all 1.5s ease
			margin 0
			height 300px
			width 300px
			&.active
				opacity 1
				transform translateY(0px)


@media screen and (max-width: 767px)
	.container-b13
		&__group
			padding-bottom 10px
			display flex
			flex-direction column-reverse
			&__text
				font-size 16px
				width 100%
				padding 10px 0
				margin 0
			.lamp-2
				align-self center
				width 200px
				height auto
@media screen and (max-width: 680px)
	.partners
		.b25__cnt-list-art-box
			flex-direction column !important
	.b25__cnt-list-art-figure
		align-self flex-start