.container-b14
	background-color c-9
	width 100%
	&__group
		&__title
			padding-top 133.5px
			padding-bottom 19.5px
			opacity 0
			transform translateY(20px)
			transition all .25s ease 1s
			&.active
				opacity 1
				transform translateY(0)
			h1
				padding 0
				margin 0
		&__subtitle
			transform translateY(20px)
			transition all .25s ease 1.3s
			opacity 0
			&.active
				opacity 1
				transform translateY(0)
			h4
				margin 0
				padding 0
				font-size 13px
				font-family t-2
				color #000000
				line-height 1.38
		&__form
			&__bloque
				display flex
				padding-bottom 15px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.6s
				&.active
					opacity 1
					transform translateY(0)
				.input-b14
					flex 1
					margin-right 28px
				:last-child{
					margin-right 0px
				}
			&__term
				display flex
				align-items center
				padding-top 30px
				padding-bottom 57px
				transform translateY(20px)
				transition all .25s ease 1.9s
				opacity 0
				&.active
					opacity 1
					transform translateY(0)
				&__accept
					p
						margin 0
						padding 0
					a
						color c-0
						font-family t-0
						&:hover
							text-decoration underline
				.g-input-check
					height auto
				.btn-b14
					width 180px
		&__tasks
			font-family t-2
			font-size 12px
			line-height 1.5
			color c-10
			padding-bottom 125px
			margin-left 20px
			transform translateY(20px)
			transition all .25s ease 2.5s
			opacity 0
			&.active
				opacity 1
				transform translateY(0)
			li
				list-style decimal

@media screen and (max-width:767px)
	.container-b14
		&__group
			flex-direction column
			&__tasks
				padding-bottom 75px
@media screen and (max-width:505px)
	.container-b14
		&__group__title
			padding-top 10px
		&__group__form__bloque
			display flex
			flex-direction column
			padding 0
			.input-b14
				margin-right 0
		&__group__form__term
			display flex
			flex-direction column
			&__accept
				padding-bottom 20px !important