.container-b15
	background-color c-9
	&__group
		&__title
			padding-bottom 12.5px
			opacity 0
			transform translateY(20px)
			transition all .25s ease 0.5s
			&.load_doom
				opacity 1
				transform translateY(0)
			h1
				padding 0
				margin 0
		&__subtitle
			opacity 0
			transform translateY(20px)
			transition all .25s ease 0.8s
			&.load_doom
				opacity 1
				transform translateY(0)
			h4
				margin 0
				padding 0
				font-size 13px
				font-family t-2
				color #000000
				line-height 1.38
		&__form
			&__bloque
				display flex
				padding-bottom 15px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.1s
				&.load_doom
					opacity 1
					transform translateY(0)
				.input-b15
					flex 1
					margin-right 28px
				:last-child{
					margin-right 0px
				}
			&__contact
				padding-top 30px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.5s
				&.load_doom
					opacity 1
					transform translateY(0)
				&__name
					margin 0
					padding 0
					font-family t-3
					font-size 14px
					color c-0
				&__option
					display flex
			&__term
				display flex
				align-items center
				padding-top 10px
				padding-bottom 40px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.8s
				&.load_doom
					opacity 1
					transform translateY(0)
				&__accept
					p
						margin 0
						padding 0
					.link-b15
						color c-0
						text-decoration underline
				.g-input-check
					height auto
				.btn-b15
					width 180px
	.g-input-check
		font-family t-1 !important
		.link-b15
			font-family t-0 !important

@media screen and (max-width:505px)
	.container-b15
		&__group__title
			padding-top 10px
		&__group__form__bloque
			display flex
			flex-direction column
			padding 0
			.input-b15
				margin-right 0
		&__group__form__term
			display flex
			flex-direction column
			&__accept
				padding-bottom 20px !important

@media screen and (max-width:350px)
	.container-b15
		.g-input-radio-wrap 	
			display flex
			flex-direction column
