.wancho3
	width 94%
	max-width 792px
	margin auto
.container-b16
	width 100%
	background-color c-9
	padding-bottom 103px
	padding-top 40px
	&__group
		&__title
			padding-bottom 34px
			transform translateY(100px)
			opacity 0
			transition all 2s ease
			&.active
				opacity 1
				transform translateY(0px)
			h3
				margin 0
				padding 0
		&__sedes
			display flex
			color c-10
			justify-content center
			transform translateY(100px)
			opacity 0
			transition all 2s ease
			&.active
				opacity 1
				transform translateY(0px)
			&__store
				margin-right 12px
				margin-left 12px
				background-color #f1f1f1
				box-shadow 20px 40px 60px 0 rgba(0 0 0 0.14)
				&:hover
					.icon-flecha
						animation bcArrowContacto 1s linear 0s infinite
				a
					display block
				.Rectangle-Copy
					object-fit contain
				&__data
					&__name
						margin 0
						padding 0
						font-size 18px
						line-height 2.72
						font-family t-0
						padding-top 23px
						padding-left 43px
					&__address
						margin 0
						padding 0
						font-size 16px
						line-height 1.13
						font-family t-0
						font-weight 500
						padding-left 43px
						dispay block
					.icon-flecha
						// preguntar????????
						padding-right 43px
						float right
						display inline-block
					&__phone
						margin 0
						padding 0
						font-size 14px
						line-height 1.29
						font-family t-2
						padding-bottom 27px
						padding-left 43px
						padding-top 8px

@media screen and (max-width:767px)
	.container-b16
		padding-top 0
		padding-bottom 20px
		&__group
			&__title
				padding-bottom 0
			&__sedes
				flex-direction column
				align-items center
		&__group__sedes__store
			margin-bottom 15px