.container-b17
	background-color c-9
	width 100%
	&__group
		&__title
			padding-bottom 12.5px
			opacity 0
			transform translateY(20px)
			transition all .25s ease 0.5s
			&.load_doom
				opacity 1
				transform translateY(0)
			h1
				padding 0
				margin 0
		&__subtitle
			transform translateY(20px)
			transition all .25s ease 0.8s
			opacity 0
			&.load_doom
				opacity 1
				transform translateY(0)
			h4
				margin 0
				padding 0
				font-size 13px
				font-family t-2
				color #000000
				line-height 1.38
		&__form
			&__bloque
				display flex
				padding-bottom 15px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.1s
				&.load_doom
					opacity 1
					transform translateY(0)
				.input-b17
					flex 1
					margin-right 28px
				:last-child{
					margin-right 0px
				}
			&__contact
				padding-top 30px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.8s
				&.load_doom
					opacity 1
					transform translateY(0)
				&__name
					margin 0
					padding 0
					font-family t-3
					font-size 14px
					color c-0
				&__option
					display flex
					padding 15px 0 10px 0
			&__term
				display flex
				align-items center
				padding-top 10px
				padding-bottom 94px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 2.1s
				&.load_doom
					opacity 1
					transform translateY(0)
				&__accept
					p
						margin 0
						padding 0
				.g-input-check
					height auto
				.btn-b17
					width 180px
					padding-top 0px
.link-b17, .link-b23, .link-b15
	color c-0
	text-decoration underline
	font-family t-0 !important


	@media screen and (max-width:505px)
		.btn-b17
			padding-top 40px
		.container-b17
			&__group__title
				padding-top 10px
			&__group__form__bloque
				display flex
				flex-direction column
				padding 0
				.input-b17
					margin-right 0
			&__group__form__term
				display flex
				flex-direction column
				&__accept
					padding-bottom 20px !important

	@media screen and (max-width:350px)
		.container-b17
			.g-input-radio-wrap 	
				display flex
				flex-direction column