.b18
	padding-top 100px
	img
		box-shadow: 36px 47px 93px -34px rgba(0,0,0,0.25);
	&__bg
		background-color c-9
		position absolute
		height 80%
		width 100%
	&__title
		padding-top 100px
		padding-bottom 10px
		letter-spacing 1px
		position relative
		z-index 10
	&__cnt
		&.wancho
			max-width 1200px
		p
			margin 0
		.m-b-20
			margin-bottom 20px
		.title
			text-transform uppercase
			margin-bottom 5px
			letter-spacing 1px
			font-size 12px
		.street
			font-family t-0
		.g-product-name
			text-align left
			font-weight bolder
			font-size 15px
		.icon-tiendas-googlemaps
		.icon-tiendas-waze
			font-weight normal
			font-size 25px
		&-description
			&-txt
				display flex
				&-addres
					width 50%
					&-container
						height 50% 
		.b25__cnt-list-art-box-figure-img
			margin-top 50px
	.b25__cnt-list-art
		justify-content space-between
		padding 72.5px 0px

@media screen and (max-width:680px)
	.b18
		&__title
			padding-top 30px
		&__bg
			display none
		&__cnt
			margin 0
			width 100%
		.b25__cnt-list-art
			padding-top 0
			box-shadow 0px 3px 11px rgba(0,0,0,.2)
			&:nth-child(1)
				padding-bottom 50px
			&:nth-child(2)
				margin-bottom 30px
			&-figure-img
				display none
			&-box
				flex-direction column-reverse !important
				max-width 100%
				padding 0
				&-figure-img
					margin-top 0 
					