.container-b19
	width 100%
	background-color c-9
	&__group
		&__title
			padding-bottom 63px
			opacity 0
			transform translateY(50px)
			transition all 1s ease
			&.load_doom
				opacity 1
				transform translateY(0px)
			h4
				margin 0
				padding 0
		&__cont-event
			display flex
			flex-direction column
			padding-bottom 70px
			&__events
				display flex
				margin auto
				&__list
					width 100%
					margin 0 0 0 0
					padding 0 0 0 0
					margin-right 24px
					img
						display block
					&__data
						&__name
							padding 0
							margin 0
							min-height 77px
							padding-top 57px
							padding-left 78px
						&__link
							margin 0
							padding 0
							font-family Gotham-Bold
							font-size 15px
							color c-10
							padding-top 12px
							padding-bottom 47px
							padding-left 78px
				// :last-child{
				// 	margin-right 0px
				// }
				.article1
					transform translateX(-100px)
					opacity 0
					transition all 1s ease
					&.load_doom
						opacity 1
						transform translateX(0px)
				.article2
					transform translateX(100px)
					opacity 0
					transition all 1s ease
					&.load_doom
						opacity 1
						transform translateX(0px)
			:nth-child(2n)
				flex-direction row-reverse
				// margin-right 24px
				// :first-child{
				// 	margin-right 0px

@media screen and (max-width:1250px)
	.container-b19__group__cont-event__events__list
		.event-img
			max-width: 100%
			display: block
		&__data
			&__name
				padding-left 40px
				padding-top 40px
				min-height auto
			&__link
				padding-left 40px
		:last-child
			width 100%
	.container-b19__group__title
		padding-top 50px
		padding-bottom 50px

@media screen and (max-width:1024px)
	.container-b19__group
		&__title
			padding-top 30px
			padding-bottom 30px
			h1
				font-size 35px
		&__cont-event__events__list__data
			&__name
				font-size 22px
				padding-top 20px
				padding-left 20px
			&__link
				font-size 14px
				padding-top 6px
				padding-left 20px
			
@media screen and (max-width:768px)
	.container-b19
		.wancho2
			width 100%
			margin auto
		&__group
			&__title
				padding-top 20px
				padding-bottom 20px
				padding-left 10px
				padding-right 10px
				box-sizing border-box
				h1
					font-size 25px
			&__cont-event
				padding-bottom 10px
				&__events
					flex-direction column
					&:nth-child(2n)
						flex-direction column
					&__list
						a
							display block
						&__data
							&__name
								font-size 20px
								padding-left 10px
								padding-right 10px
								box-sizing border-box
							&__link
								font-size 13px
								padding-left 10px
								padding-right 10px
								box-sizing border-box
						:last-child
							width 100%	
		
@media screen and (max-width:480px)
	.container-b19__group
		&__title
			padding-top 0px
			padding-bottom 0px
			h1
				font-size 20px
		&__cont-event__events__list
			&__data
				&__name
					font-size 16px
				&__link
					font-size 10px				
