#section2
    // background linear-gradient(to bottom, rgba(157,149,140,1) 0%, rgba(196,196,196,1) 100%);
    z-index 2
    background-color c-9
.b2
    padding-top 80px
    &__header
        padding 70px 0
        height 280px
        margin-bottom -30px
    &__content
        position relative
        height 750px
    &__wrap
        left 0
        right 0
        top -250px
        position absolute
        display flex
        justify-content space-between
        flex-wrap wrap
    &__item
        z-index 100
        display flex
        flex-direction column
        margin 60px 0
        height 500px
        width 46%
        position relative
        opacity 0
        transform translate(0%, 75%) matrix(1.3, 0, 0, 1.3, 0, 0)
        transition all .5s ease .5s
        &.active
            opacity 1
            transform matrix(1, 0, 0, 1, 0, 0)
        &:hover
            .b2__item-text
                color white !important
                transition all 0.25s ease
                -webkit-text-stroke none
            .b2__item-link
                opacity 1
                transition all 0.25s ease
    &__item-bg
        position absolute
        top 40px
        height 75%
        width 100%
        z-index 2
    &__item-img
        width 100%
        height auto
        position absolute
        z-index 5
        
        &.block-table
            bottom 0px
    &__item-img-url
        text-align center
        margin 10px
    &__item-text
        font-family t-5
        text-transform uppercase
        font-size 150px
        letter-spacing 3px
        color c-11
        bottom -50px
        position absolute
        left 20px
        z-index 2
        width 100%
        transition all 0.25s ease
        &.block-poltronas
            left 55px
        &.block-table
            text-align right
            bottom -20px
            left 50px
        &.stroke
            color transparent !important
            -webkit-text-stroke c-9 .4px
    &__item-link
        position absolute
        bottom -50px
        z-index 6
        left 40px
        &.hide
            opacity 0
            transition all 0.35 ease
    &__item-content-text
        display flex
        align-items center
        width 100%
        padding-left 50px
        flex-direction column
        h2
            width 75%
    &__item-content-link
        padding-left 55px
        padding-top 20px
        align-self flex-start
    .block-content
        padding-top 50px

.b2-2
    position relative
    width 100%
    &__lamp
        position absolute
        right 235px
    &__container
        padding-top 300px
        padding-bottom 120px
        position relative
        z-index 5
    &__top-main-text
        font-family t-5
        font-size 150px
        .white
            color c-11
        .stroke
            color transparent
            -webkit-text-stroke c-7 .4px
        .grey
            color c-7
    &__top-description-text
        font-family t-2
        font-size 20px
        width 318px
        color #a4a4a4
        padding-left 25px
        margin-top -5px

    &__img-designers
        padding-top 70px
        display flex
        justify-content space-between
        align-items center
    &__design-img
        overflow hidden
        &:hover
            img
                transform scale(1.1)
        img 
            width 100%
            transition all .25s ease
            height auto
    &__bottom-text
        display flex
        flex-direction column
        align-items flex-end
        width 100%
    &__bottom-main-text
        padding-right 150px
        width 488px
    &__bottom-link
        padding-right 520px
        padding-top 10px
    &__bg-text
        position absolute
        bottom 330px

@media screen and (max-width: 1360px)
    .b2
        &__item-text
            font-size 125px
            bottom -25px
    .b2-2
        &__lamp
            right 40px
@media screen and (max-width: 1150px)
    .b2
        &__item-text
            font-size 100px
            bottom 10px
            &.block-table
                bottom 10px
@media screen and (max-width: 1024px)
    .b2
        &__item
            width 100%
            margin 30px 0
            &.block-content
                padding 0
                text-align left
                .b2__item-content-link
                    padding-left 10%
        &__content
                height 1700px
        &__item-text
            font-size 150px
            bottom -30px
            &.block-poltronas
                left 10px
            &.block-table
                bottom -30px
                text-align center
    .b2-2
        &__top-main-text
            width 75%
            margin-top -150px
@media screen and (max-width: 767px)
    .b2-2
        &__bottom-main-text
            width 100%
            padding 0
        &__bottom-link
            padding-right 100px