.wancho2
	width 94%
	max-width 1200px
	margin auto
.container-b20
	background-color c-9
	width 100%
	&__group
		&__title
			max-width 792px
			padding-bottom 42px
			opacity 0
			transform translateY(50px)
			transition all 1s ease
			&.load_doom
				opacity 1
				transform translateY(0px)
			h2
				margin 0
				padding 0
		&__wrapperimg
			display flex
			justify-content space-between
			align-items center
			width 100%
			padding-bottom 0
			&__main-img
				max-width 50%
				width 100%
				height auto
				opacity 0
				transform translateX(-100px)
				transition all 1s ease
				&.load_doom
					opacity 1
					transform translateX(0px)
					img
						width 95%
						height auto
			&__details
				max-width 50%
				width 100%
				display flex
				flex-direction column
				opacity 0
				transform translateX(100px)
				transition all 1s ease
				&.load_doom
					opacity 1
					transform translateX(0px)
				.rectangle-copy-2
					width 75%
				&__content
					width 75%
					margin auto
					font-size 14px
					font-family t-2
					color c-10
					line-height 1.5
					padding-top 49px
					p
						margin 0
						padding 0
	.g-bread
		.g__scrumb
			pointer-events initial
			&:hover
				a
					text-decoration underline

@media screen and (max-width:767px)
	.container-b20
		&__group__wrapperimg
			flex-direction column
			padding-bottom 10px
	.container-b20__group__wrapperimg__main-img
		width 100%
		max-width 90%
		.rectangle-copy
			width 100% !important
	.container-b20__group__wrapperimg__details
		width 100%
		max-width 90%
		&__content
			text-align center
		.rectangle-copy2
			width 75%
			
@media screen and (max-width:450px)
	.container-b20__group
		margin 0
		width 100%
		&__title
			padding 20px 
			h2
				line-height 25px
		&__wrapperimg
			&__details
				max-width 100%
				.rectangle-copy-2
					margin 0
					width 100%
				&__content
					padding-top 25px
			&__main-img
				max-width 100%
				padding-bottom 20px
	