.b21
    background-color c-9
    padding 100px 0
    &__header-text
        padding-bottom 30px
        transform translateX(-100px)
        opacity 0
        transition all 2s ease
        &.active
            opacity 1
            transform translateX(0px)
    &__wrapper
        display flex
        justify-content space-between
        flex-wrap wrap
        transform translateY(100px)
        opacity 0
        transition all 2s ease

        &.active
            opacity 1
            transform translateY(0px)
    &__item
        padding 1% 0
        a
            display block
            height 100%
            background-position center center
            background-size cover
            height 0
        &.grow-1
            width 23.5%
            a
                padding-bottom 130.8%
        &.grow-2
            width 49%
            a
                padding-bottom 62.58%
.lg-toolbar
    padding-right 20px
    .lg-download
        &:after
            content '\e911'
            font-family icomoon
            font-size 20px
    .lg-close
        &:after
            content '\e901'
            font-family icomoon
            font-size 16px
            
.lg-actions
    .lg-prev
        &:after
            content "\e905"
            font-family icomoon
            font-size 20px
    .lg-next
        &:before
            content "\e908"
            font-family icomoon
            font-size 20px

@media screen and (max-width:767px)
	.b21
		padding 10px 0
  
@media screen and (max-width:455px)
    .b21
        padding-bottom 20px
        padding-top 30px
        &__header-text
            padding-bottom 0
            padding-left 20px
        &__wrapper
            justify-content center
        &__item
            &.grow-2
                padding 0
                padding-bottom 17px
                padding-top 12px