.b22
    p
        margin 0
    display flex
    //justify-content center
    align-items center
    flex-direction column
    background-color c-9
    padding-bottom 245px
    &-title     
        max-width 792px
        width 94%
        margin auto
        height 120px
        font-size 45px
        font-family $t-3
        margin auto
        /*margin-top 94px
        margin-left 405px
        margin-right 460px
        margin-bottom 0px*/
        line-height 49px
        &-center 
            height auto
            font-family Gotham-Bold
        opacity 0
        transform translateY(50px)
        transition all 1s ease
        &.load_doom
            opacity 1
            transform translateY(0px)
    &-text
        max-width 792px
        width 94%
        margin auto
        color #857f7b
        font-family Gotham-Book
        font-size 12px
        line-height 1.5
        margin auto
        &-jumper
            margin-bottom 25px !important
        &-indent
            padding-left 8px   
        /*margin-top 28px 
        margin-left 404px
        margin-right 404px
        margin-bottom 452px*/
        &-bold
            font-weight bold
        opacity 0
        transform translateX(-100px)
        transition all 1s ease
        &.load_doom
            opacity 1
            transform translateX(0px)


