.container-b23
	background-color c-9
	width 100%
	&__group
		&__title
			padding-bottom 12.5px
			opacity 0
			transform translateY(20px)
			transition all .25s ease 0.5s
			&.load_doom
				opacity 1
				transform translateY(0)
			h1
				padding 0
				margin 0
		&__subtitle
			opacity 0
			transform translateY(20px)
			transition all .25s ease 0.8s
			line-height 18px
			&.load_doom
				opacity 1
				transform translateY(0)
			h4
				margin 0
				padding 0
				font-size 13px
				font-family t-2
				color #000000
				line-height 1.38
		&__form
			&__bloque
				display flex
				padding-bottom 15px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.1s
				&.load_doom
					opacity 1
					transform translateY(0)
				.input-b23
					flex 1
					margin-right 24px
				:last-child{
					margin-right 0px
				}
			&__sección
				margin 0
				padding 0
				padding-top 69px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.1s
				&.load_doom
					opacity 1
					transform translateY(0)
			&__definiciones
				font-size 13px
				font-family t-3
				line-height 1.54
				color #575756
				padding-top 17px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 1.1s
				&.load_doom
					opacity 1
					transform translateY(0)
				p
					margin 0
					padding 0
				.definiciones-b23
					font-family t-2
			&__obligatorio
				margin 0
				padding 0
				font-size 10px
				font-family t-2
				color #575756
				padding-top 17px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 2s
				&.load_doom
					opacity 1
					transform translateY(0)
			&__term
				display flex
				align-items center
				padding-top 10px
				padding-bottom 94px
				opacity 0
				transform translateY(20px)
				transition all .25s ease 2.3s
				&.load_doom
					opacity 1
					transform translateY(0)
				&__accept
					p
						margin 0
						padding 0
					.link-b23
						color c-0
						&:hover
							text-decoration underline
				.g-input-check
					height auto
				.btn-b23
					width 180px

@media screen and (max-width:505px)
	.container-b23
		&__group__title
			padding-top 10px
		&__group__form__bloque
			display flex
			flex-direction column
			padding 0
			.input-b23
				margin-right 0
		&__group__form__term
			display flex
			flex-direction column
			&__accept
				padding-bottom 20px !important