.b24
	background-color #f8f8f8
	height 633px
	&__container
		display flex
		justify-content center
		&-interact
			max-width 550px
			margin-top 190px
			margin-right 140px
			&-text
				margin-top 20px
				margin-bottom 50px
				width 470px
				line-height 18px
			&-button-cnt
				background-color red
				width 180px
				height 50px
				&-a
					display flex
					justify-content center
			transform translateX(-100px)
			opacity 0
			transition all 2s ease
			&.load_doom
				opacity 1
				transform translateX(0px)
		&-picture
			&-figure-img
				height 427px
			transform translateY(100px)
			opacity 0
			transition all 1s ease
			&.load_doom
				opacity 1
				transform translateY(0px)
	&__button
		width 180px
	p
		font-family t-2
		font-size 13px

@media screen and (max-width:768px)
	.b24
		height calc(100vh - 80px)
		padding-top 80px
		position relative
		&__container
			flex-direction column-reverse
			align-items center
			justify-content center
			height 100%
			&-picture
				position absolute
				top 80px
				width 50%
				height auto
				max-width 150px
				&-figure
					max-width 200px
					&-img
						max-width 100%
						height auto
			&-interact
				margin auto
				display flex
				flex-direction column
				align-items center
				position absolute
				&-tittle
					h1
						text-align center
						font-size 22px
				&-text
					text-align center
					margin-top 0
					margin-bottom 10px
					


@media screen and (max-width:480px)
	.b24
		height 100vh
		padding-top 0
		&__container
			width 100%
			margin 0
			&-interact
				padding 0 30px
			&-picture
				display none