.b25
	&__cnt
		img
			box-shadow: 17px 27px 48px -2px rgba(184,184,184,1);
		&-list
			&-art
				display flex
				justify-content space-evenly
				margin-bottom 0
				&-figure
					padding-right 38px
					padding-left 0
				&-box
					padding-left 38px
					padding-right 0
				&:nth-child(even)
					padding 50px 0
					flex-direction row-reverse
					.b25__cnt-list-art-box
						padding-right 38px
						padding-left 0
					.b25__cnt-list-art-figure
						padding-left 38px
						padding-right 0	
				&-figure
					margin 0
					transform translateX(-100px)
					opacity 0
					transition all 2s ease
					&.active
						opacity 1
						transform translateX(0px)
					&-img
						width 612px
				&-box
					display flex
					flex-direction column
					justify-content center
					transform translateX(100px)
					opacity 0
					transition all 2s ease
					max-width 50%
					&.active
						opacity 1
						transform translateX(0px)
					&-figure
						width 100%
						margin 0
						&-img
							width 100%
					&-tittle
						font-size 18px
						margin 20px 0
					&-description
						line-height 21px
						font-size 21px
						width auto
						.g-product-name
							text-align left
							font-size 16px 
							font-family Gotham-Book
						p
							font-family t-1S
@media screen and (max-width:1230px)
	.b25
		&__cnt
			&-list
				&-art
					align-items center
					&:nth-child(odd)
						.b25__cnt-list-art-box
							margin-left 20px
					&:nth-child(even)
						.b25__cnt-list-art-box
								margin-right 20px
					&-box
						&-figure
							&-img
								max-width 100%
								height auto
						&-description
							width 100%
					&-figure
						&-img
							max-width 100%
							height auto
							

@media screen and (max-width:680px)
	.b25
		&__cnt
			&-list
				&-art
					flex-direction column
					&:nth-child(even)
						flex-direction column
						.b25__cnt-list-art-box
							margin-right 0
					&:nth-child(odd)
						.b25__cnt-list-art-box
							margin-left 0
					&-box
						height auto
						display flex
						flex-direction row-reverse
						align-items center
						margin 0
						padding 0 20px
						&figure 
							width 100%
							padding 30px
							&-img
								width 100%
						&-text
							padding-right 30px

@media screen and (max-width:1230px)
	.corporativa
		.b25
			&__cnt-list-art-figure
				padding-right 30px !important
				width 70% !important

@media screen and (max-width:680px)
	.corporativa
		.b25
			&__cnt-list-art
				flex-direction column !important
				align-items center
				&-figure
					width 100% !important
					padding 0 !important
				&-box
					width 100% !important
					max-width 100%
					padding 0 !important
					padding-top 30px !important
					&-figure
						width 75%
					&-description
						padding 10px
						box-sizing border-box
		.b10_img-url
			img
				width 75%
					
@media screen and (max-width:540px)
	.corporativa
		.b25
			&__cnt-list-art
				flex-direction column !important 
				align-items center
				&__figure
					width auto
					padding 0
					transform scale(3) !important
				&__box
					margin 0
					position relative
					flex-direction row !important
		.b25
			&__cnt
				&-list
					&-art
						&:nth-child(even)
							.b25__cnt-list-art-box
								padding-right 0

@media screen and (max-width:475px)
	.b25
		&__cnt
			&-list
				&-art
					&-box
						&-text
							padding 0