.b5
    &__selector
        padding-top 40px
        opacity 0
        transform translateY(50px)
        transition all 1s ease
        &.load_doom
            opacity 1
            transform translateY(0px)
    &__wrapper
        border-bottom 1px solid c-7
        opacity 0
        transform translateY(50px)
        transition all 1s ease
        &.load_doom
            opacity 1
            transform translateY(0px)
    .g-form
        display flex
    .g-form-block
        min-width 150px
        &:first-child 
            margin-right 20px
.b26
    &__title-search
        padding 0px 0
        margin-bottom 25px
    &__title
        position relative
        padding 0
        opacity 0
        transform translateY(50px)
        transition all 1s ease
        &.load_doom
            opacity 1
            transform translateY(0px)
    &__title-results
        margin-bottom 60px
    margin auto