.b3
    background c-6
    position relative
    overflow hidden
    &__container
        padding-top 98px
        display flex
        justify-content space-between
        align-items center
        position relative
        z-index 1
    &__text
        width 333px
    .g-link-black
        color #565b56
        &:before
            background-color #565b56
    &__bg-text
        position absolute
        bottom 220px
@media screen and (max-width:1360px)
    .b3
        &__img-url
            padding 50px
            img
                width 100%
                height auto
@media screen and (max-width:1024px)
    .b3
        &__container
            flex-direction column
        &__text
            width 100%
            text-align center
        &__bg-text
            bottom 220px
