.b4
	overflow hidden
	padding-bottom 65px
	&__divisor
		background-color c-9 
		position absolute
		left 0
		right 0
		&::after
			content ""
			position absolute
			width 1000px
			height 81.77px
			background-color c-9 
			top 0
			left -1000px
		&::before
			content ""
			position absolute
			width 1000px
			height 81.77px
			background-color c-9 
			top 0
			right -1000px
		&-menu
			&-nav
				display flex
				justify-content center
				padding 32px 0
				li
					margin 0 31px
					font-family gotham-book
					text-transform uppercase
					a
						color rgba(0,0,0,.45)
						transition all .3s ease
						&:hover
							color rgba(0,0,0,1)
							
	&__cnt
		&-title
			margin-bottom 40px
		&-slider
			padding-right 145px
			box-sizing border-box
		&-slider
		&-slider-divisor
			padding-top 10px
			/*
			display flex
			justify-content space-between
			position relative
			*/
			.owl-nav
				display block
				align-items center
				font-size 42px
				.flecha
					margin-right 10px
			&-select
				margin 0
				&-link
					&:hover
						.b4__cnt-slider-select-link-figure
							filter grayscale(0%)
					display flex
					align-items center
					padding-right 50px
					&:last-child
						padding-right 0
					&-figure
						margin 0
						margin-right 10px
						transition .5s
						filter grayscale(100%)
						img
							height 69px
						&.active
							filter grayscale(0%)
		&-slider
			.owl-nav
				display flex
				padding 0 20px
			.owl-prev
				margin 0 5px
			.owl-next
				margin 0 5px
			.owl-prev
			.owl-next
				&.disabled
					opacity .2
	.owl-loaded
		display flex !important
	.owl-stage
		width 75%

@media screen and (max-width:900px){
	.b4__cnt-slider{
		flex-direction column
		align-items flex-start
		.b4__cnt-slider-select-link-figure{
			display none
		}
	}
}