.b5
	&__tittle
		background-color c-9
		&-menu
			&-nav
				display flex
				justify-content center
				padding 32px 0
				margin-bottom 100px
				li
					margin 0 31px
					font-family gotham-book
					text-transform uppercase
					a
						color rgba(0,0,0,.45)
						transition all .3s ease
						&:hover
							color rgba(0,0,0,1)
	&__cnt
		display flex
		flex-wrap wrap
		justify-content space-evenly
		&-box
			height 376px
			width 33%
			display flex
			flex-direction column
			justify-content flex-end
			transform translateY(100px)
			opacity 0
			transition all 2s ease
			&.active
				opacity 1
				transform translateY(0px)
			&-figure
				margin 0
				text-align center
	&__selector
		padding-top 0
		display flex
		justify-content space-between
		align-items center
		&-searcher
			display flex
			justify-content space-between
			width 400px
		&-page
			width auto
			display flex
			justify-content space-between
			height auto
			align-items center
			*
				padding 0 6px
			&-cnt
				&:last-child
					padding-top 4px
				font-family t-2
				&.selected
					a
						font-family t-3
	.block-general
		width 100%
		margin-right 50px
		.g-form-block
			margin-right 0
			min-width 100%
			font-size 14px
			label
				color c-0
				top 30px
				&.label-selected
					top 0
			select
				border none		
		&-page
			height 55px
			display flex
			align-items flex-end 
			&-cnt
				margin 0 10px
				&:hover
					font-weight bolder
			.icon-flecha
				font-size 9px
	&__aux-selector
		display flex
		justify-content center
		margin-top 57px
		margin-bottom 70px

		
@media screen and (max-width:1100px){
	.b5{
		&__cnt{
			margin-top 50px
			&-box{
				height auto
				justify-content center
				padding-bottom 35px
				&-figure{
					img{
						width 80%
					}
				}
				div{
					position absolute 
					left 0
					right 0
					bottom 0
				}
			}
		}
	}
}

@media screen and (max-width:768px)
	.b5
		&__wrapper
			border 0
			.b26
				&__title
					&-search
						margin 0
						padding 30px 0
						h1
							font-size 35px
					&-results
						display none
		&__cnt
			&-box
				width 40%
		&__selector
			display flex
			justify-content center
			&-page
				display none
		&__cnt
			margin-top 30px
			&-box
				padding-top 30px
				&-figure
					padding-bottom 20px