.b6
	background-color c-5
	position relative
	.g-bread
		padding-bottom 0
		transform translateY(0)
		opacity 1
	&__group
		&__link
			font-size 12px
			font-family t-2
			color c-11
			padding-top 46px
			p
				margin 0
				padding 0
			.icon-flecha-regresar
				padding-right 10px
				font-size 8px
		&__title
			padding-top 50px
			h1
				margin 0
				padding 0
		&__text
			font-family t-2
			font-size 14px
			color c-11
			padding-top 12px
			padding-bottom 37px
			p
				margin 0
				padding 0
		&__slider-img
			.b6__img
				display block
				max-width 100%
				height auto
	&:after
		content ""
		width 100%
		height 135px
		background-color c-9
		right 0
		left 0
		bottom 0
		position absolute
	.owl-carousel
		.owl-nav
			display none
		.owl-dots
			display flex
			flex-direction column
			justify-content center
			position absolute
			top 0
			bottom 0
			.owl-dot
				position relative
				cursor pointer
				span
					margin 14px
					background-color #d8d8d8
					width 18px
					height 18px
					transition all 3s
				&.active
					span
						background-color c-11
						transition all 0.25s ease
					&:after
						content ""
						width 36px
						height 36px
						position absolute
						border 1px solid white
						border-radius 50%
						top 0
						left 0
						right 0
						bottom 0
						margin auto
				&:hover
					span
						background-color c-11
						transition all 0.25s ease

@media screen and (max-width: 678px)
	.b6
		&__group
			&__title
				padding-top 20px
			&__text
				padding-bottom 20px
		.owl-carousel
			.owl-dots
				flex-direction row
				top auto
				bottom auto
				right 0
				left 0
				.owl-dot
					color darkgray
					&.active
						span
							background-color darkgray
						&:after
							border 1px solid darkgray