	.b7
	background-color c-9
	position relative
	z-index 100
	&__cnt
		display flex
		&-left
			max-width 62%
			background-color transparent
			padding-top 90px
			border-right 2px solid #e7e5e2
			box-sizing border-box
			&-box1
				display flex
				flex-direction column
				&-letter-p
					max-width 550px
					font-size 27px
					font-family MillerDisplay-Light
					line-height 37px
					font-weight 100s
					margin auto
					margin-bottom 48px
				&-picture
					align-self center
					z-index 11
			&-box2
				position relative
				margin-top -70px
				&-main
					z-index 10
					position relative
					background-color #e7e5e2
					padding-bottom 119px
					padding-top 103px
					outline 2px solid #e7e5e2
					&-texture
						margin-left 110px
						//.g-description
						//	margin-bottom 60px
					&:after
						content ""
						position absolute
						width 1920px
						height 100%
						display block
						right 100%
						top 0
						bottom 0
						background-color #e7e5e2
						outline 2px solid #e7e5e2
		&-right
			width 480px
			height 100%
			background-color transparent
			padding-top 90px
			display flex
			flex-direction column
			align-items center
			.detail-box
			&-box
				display flex
				justify-content center
				&:nth-child(1)
					margin-bottom 20px
				&:nth-child(2)
					padding-top 20px
					margin-bottom 20px
					border-top 1px solid #e7e5e2
					border-bottom 1px solid #e7e5e2
				&:nth-child(4)
					margin-top 30px
				&-tittle
					width 140px
					p
						font-family Gotham-Medium
						color c-7
				&-description
					width 250px
				&-cotizar
					width 380px
					.g-button
						&:hover
							background-color c-6
			&-container
				padding 10px 0
				&.fixed
					position fixed
					z-index 10
				&.absolute
					position absolute
					bottom 0
					z-index 10
	&__texture
		display flex
		margin-top 60px
		> div:nth-child(2)
			width 265px
			display flex
			justify-content center
			margin 0 20px
			p
				max-width 200px
				color c-10
		&-cnt
			&-1row
				height 130px
				margin-bottom 2px
			&-1row
			&-2row
				display flex
				&-picture
					margin-right 2px
					a
						img
							height 130px
	&__detail
		margin-top 10px
		display none
.b7__bg-text
	.stroke-text
		position absolute
		bottom -75px
		z-index 1
.btn-b17
	padding-top 40px
	
@media screen and (max-width:1024px){
	.b7{
		&__bg-text{
			display none
		}
		&__cnt{
			flex-direction column-reverse
			align-items center
			&-right{
				width 100%
				&-box{
					width 348px
					&:nth-child(2){
						padding-bottom 20px
					}
				}
			}
			&-left{
				border none
				padding-top 40px
				&-box1{
					&-letter{
						&-p{
							margin 0
							max-width 100%
							text-align center
							margin-bottom 40px
						}
					}
				}
				&-box2{
					&-main{
						padding-bottom 20px
						&:before{
							content ""
							position absolute
							width 1920px
							height 100%
							display block
							left 100%
							top 0
							bottom 0
							background-color #e7e5e2
							outline 2px solid #e7e5e2
						}
						&-texture{
							margin 0
							text-align center
							.g-description{
								margin 0
								margin-top 10px
							}
						}
					}
				}
			}
		}	
		&__texture{
			flex-direction column
			margin-top 20px
			&-cnt{
				&-1row
				&-2row{
					justify-content center
					margin-left 5px
				}
			}
			> div:nth-child(2){
				margin auto
			}
		}
	}
}
@media screen and (max-width:700px){
	.b7{
		&__cnt{
			&-left{
				max-width 100%
				&-box1{
					&-letter{
						&-p{
							font-size 16px
							line-height 1.4	
						}
					}
				}
				&-box2{

				}
			}
			&-right{
				padding-top 50px
			}
		}
		&__texture{
			> div:nth-child(2){
				margin auto
			}
			&-cnt{
				&-1row{
					height 100%
				}
				&-1row
				&-2row{
					flex-direction column
					margin 0
					&-picture{
						margin 10px 0
						a{
							img{
								height 180px
								width 180px
							}
						}
					}
				}
			}
		}
		&__detail{
			display block
		}
	}
}

@media screen and (max-width:350px)
	.b7__cnt-right-box
		flex-direction column
		padding-left 20px
		box-sizing border-box
		&:last-child
			padding 0 20px
			flex-direction initial