.b8
	padding-top 50px
	width 100%
	padding-bottom 70px
	margin-bottom 45px
	background-color c-9
	&__main-text
		padding 30px 0
		padding-bottom 115px
		font-family Gotham-Bold
		h2
			padding-left 32px
	&__list
		&-stuff
			display flex
			align-items flex-end
			justify-content center
			&-item
				margin 0
				display flex
				align-items flex-end
				position relative
				margin 0 11px
						
	&__figure-background
		width 385px
		//background-color #e9efeb
		display flex
		justify-content center
		align-items flex-end
		transition .4s
		
	&__list-stuff-item-effect
		height 228px
		display flex
		flex-direction column
		justify-content flex-end
		@media screen and (min-width 1024px)
			&:hover
				figure
					&:after
						height 100%
	&__figure-background
		&:hover
			display flex
			//height 228px
	&__image-cnt
		bottom 0
		width 100%
	&__image-cnt-figure
		position relative
		height 228px
		display flex
		&:after
			content ""
			position absolute
			left 0
			right 0
			bottom 0
			transition all .25s ease
			height 115px
			display block
			background-color #e9efeb
			z-index 1
		img
			max-width 100%
			display block
			margin auto
			position relative
			z-index 99
	&__list-name
		display flex
		margin-top 15px

@media screen and (max-width:1280px){
	.b8{
		margin 0
		&__main-text{
			padding-top 20px
			padding-bottom 70px
		}
		&__figure-background{
			width 280px
		}
		.b8__image-cnt{
			&-figure{
				height 150px
				align-items center
				&-img{
					max-width 50%
					max-height 70%
				}
				&:after{
					height 75px
				}
			}
		}
	}
}

@media screen and (max-width:910px){
	.b8{
		&__main-text{
			padding-top 10px
			padding-bottom 20px
		}
		&__figure-background{
			width 220px
		}
		.b8__image-cnt{
			&-figure{
				height 100px
				&:after{
					height 50%
				}
			}
		}
		&__list-stuff{
			&-item-effect{
				height 100%
			}
		}
	}
}


@media screen and (max-width:768px){
	.b8{
		padding-bottom 30px
		&__list{
			&-stuff{
				flex-direction column
				align-items center
				&-item{
					width 385px
					&-effect{
						margin 1	0px 0
						width 100%
						align-items center
					}
				}
			}
		}
		&__figure-background{
			width 100%
			.b8__image-cnt{
				&-figure{
					height 150px
					align-items center
					&-img{
						max-width 50%
						max-height 70%
					}
					&:after{
						height 75px
					}
				}
			}
		}
	}
}