.world .b25__cnt-list-art:nth-child(even)
	padding 140px 0



.b9
	background-color c-11
	article
		img
			box-shadow: 18px 33px 66px -8px rgba(0,0,0,0.13);
	article
		position relative
		z-index 4
	.b25__cnt-list-art
		flex-direction row
	.b25__cnt-list-art-box
		width 40%
	.b25__cnt-list-art-box-description
		.g-product-name
			font-size 14px
			margin-top 30px
