.footer
	background-color c-11
	&__suscription
		padding-top 50px
		width 95%
		text-align center
		max-width 500px
		width 100%
		margin-bottom 60px
		margin-top 60px
		.g-form-block
			input[type="text"]
				border-bottom 1px solid c-0
		.g-subtitle-black
			font-family t-1
		.g-button
			width 58px
			text-transform lowercase
			background-color transparent
			position absolute
			top 6px
			right 0
		.g-form-block
			label
				color c-0
		.g-input-check
			justify-content center
			.check
				top 6px
				left 6.5px
				width 11px
				height 11px
			label
				position relative
				width auto
			.g-pg
				font-family t-1
			input[type="checkbox"]:checked ~ label:before
				width 10px
				height 10px
				font-size 7px
				left 7.5px
				top 0
	&__nav
		padding 60px 0
		display flex
		justify-content space-between
	&__logo
		width 20%
	&__address
		width 50%
		display flex
		justify-content center
	&__address-district
		font-size 20px
		font-family t-3
	&__address-direction
		font-family t-1
		font-size 14px
		margin-top 5px
		padding-right 22px
		p
			margin 3px 0
	&__links
		width 20%
		display flex
		flex-direction column
		align-items flex-end
	&__social
		display flex
		justify-content space-between
		margin-bottom 40px
		font-size 20px
		width 170px
	&__interest
		font-size 12px
		a
			color c-0
			font-size 12px
	&__interest-claims-book-img
		display inline-block
		img
			width 38px
			height 18px
	&__copyright
		height 14px
		padding 30px 0
		font-family t-1
		font-size 12px
		color c-0
		display flex
		justify-content space-between
	.icon-corazon-staff
		color #a39b8c
	&__sd
		position relative
		color black
	&__sd-icon
		position absolute
		right -7px
		top -4px

.footer
	&__logo
	&__address-district
	&__address-data-5
	&__address-data-4
	&__address-data-3
	&__address-data-2
	&__address-data-1
	&__interest-item
	&__interest-item-book
	&__social
	.g-input-check-wrap
	.g-form-block
	&__suscription
	&__suscription-text
		transition .5s
		opacity 0
		transform translateY(-75%)
		&.active
			transition 1s
			opacity 1
			transform translateY(0)
	
	.g-input-check-wrap
		&.active
			transition 1s
			
	.g-form-block
		&.active
			transition 1.3s

	&__suscription-text
		&.active
			transition 1.6s

	&__logo
		&.active
			transition all 1s ease
	&__address-direction
		div 
			&.active
				transition-delay 1s
				&:nth-child(5)
					transition 1.6s
				&:nth-child(4)
					transition 1.7s
				&:nth-child(3)
					transition 1.8s
				&:nth-child(2)
					transition 1.9s
				&:nth-child(1)
					transition 2s
	&__address-district
	&__social
		&.active
			transition 2s
	&__interest-item-book
		&.active
			transition 2s
	&__interest-item
		&.active
			&:nth-child(2)
				transition 2s
			&:nth-child(1)
				transition 2s
		



@media screen and (max-width:767px)
	.footer
		&__suscription
			margin-top 30px
		&__nav
			flex-direction column
			align-items center
		&__logo
			text-align center
		&__address
			padding 30px 0
			align-items flex-start
			justify-content center
			width 100%
			position relative
			left 40px
			line-height 22px
		&__links
			width 100%
			text-align center
			align-items center
		&__social
			max-width 150px
			width 100%
		&__interest
			width 100%
		&__interest-links
			display flex
			flex-wrap wrap
			justify-content center
		&__interest-item
			width 40%
			padding 20px 0
		&__social
			padding 0
			margin 0

@media screen and (max-width:960px)
	.footer
		&__social
			width 150px
@media screen and (max-width:767px)
	.footer
		&__social
			width 170px		
		&__suscription .g-button
			top -22px	
@media screen and (max-width:505px)
	.footer
		padding-top 20px
		.g-form-block, .g-form-block label
			text-align center
		&__check-label
			text-align left
		&__suscription
			padding-bottom 20px
		&__logo
			padding-top 30px
		&__address
			flex-direction column
			left 0
			&-district
				padding 10px 0
		&__social
			padding 0
			margin 0
		&__copyright
			flex-direction column
			align-items center
		&__nav
			padding 20px 0
			

//@media screen and(max-width:425px)

//@media screen and(max-width:375px)
