.header-black
	.header
		background-color c-0 !important
.header-buscador
	position absolute
	background red
	top 0
	left 10px
	bottom 0
	margin auto
	&-close
		position absolute
		right 10px
		top 0
		bottom 0
		font-size 14px
		height 15px
		margin auto
.header
		position fixed
		height auto
		width 100%
		z-index 1010
		top 0
		left 0px
		padding 11px 0
		transition all .25s ease
		align-items center
		&.scrolling
			background-color c-0 !important
		.header-ctn
			display flex
			justify-content space-between 
			align-items stretch
		.header-logo
			margin 0
			width 12.5%
			padding-bottom 5px
			img
				display block
				max-width 100%
				height 70px
				width auto
		.menu-item
			padding 0 20px
			height 100%
		.menu-wrap
			height 100%
			display flex
			align-items center
		.menu-list
			height 100%
			display flex
			align-items center
			margin auto
			width 100%
		.menu-link
			color c-11
			&.bold
				font-weight bold
		.search
			display flex
			align-items center
			font-size 20px
			position relative
			.icon-buscar
				color c-1
				margin-right 20px
			.icon-menu1
				color c-11
				margin-right 20px
		.language
			position relative
			&:before
				content ""
				display inline-block
				background-color c-11
				width 1px
				height 55%
				top 3px
				bottom 0
				left 0
				right 0
				margin auto
				position absolute
		.language-item
			display inline-block
			padding 0 3.5px
			a
				color c-11
				font-size 13px


		// 	transition-all()
		// 	&.active, &:hover
		// 		background-color lightgray

	// Menu responsive
	body
		&.left-in
			// background-color #000
			// .menu-responsive
			.cnt-wrapper
				overflow hidden
			.menu-sidebar
				transform  translateX(-300px)
				// top 65px
				&.active
					transform  translateX(0)
			// .menu-overlay
				// top 65px
			.wrapper,.footer
				left 0px
				&.active 
					left 300px
			.menu-mobile-close
				color #000
				&.active
					opacity 1
					visibility visible
		&.right-in
			.menu-sidebar
				transform  translateX(300px)
				// top 65px
				right 0px
				&.active
					transform  translateX(0px)
			// .menu-overlay
			// 	top 65px
			.wrapper,.footer
				left 0px
				&.active 
					left -300px
			.menu-mobile-close
				color #000
			.cnt-wrapper
				overflow hidden
		&.top-in
			// .header
			// 	&.scrolling
			// 		box-shadow none
			.menu-overlay
				display none
			.menu-sidebar
				width 100%
				transform translateY(-105%)
				&.active
					transform translateY(0%)
			.menu-responsive
				display flex
				align-items center
				flex-direction column
				justify-content center
				@media screen and (max-height 400px)
					flex-flow wrap		
				
			.menu-responsive .menu-link
				justify-content center
			
				
			.menu-mobile-close
				color #000
	.menu-overlay
		position fixed
		top 0
		left 0
		background-color black
		z-index 1000
		width 100%
		height 100%
		opacity 0
		cursor pointer
		transition all 0.45s ease
		visibility hidden
		&.active
			opacity 0.6
			visibility visible

	.menu-mobile-close, .menu-mobile-open
		border-radius 7%
		color #000
		cursor pointer
		font-size 40px
		height 42px
		line-height 42px
		position fixed
		right 15px
		text-align center
		top 10px
		// transition all 0.45s ease
		width 42px
		transform rotate(0deg)

	.menu-mobile-open
		opacity 1
		visibility hidden
		z-index 1011
		&.active
			visibility hidden
			opacity 0

	.menu-mobile-close
		visibility hidden
		opacity 0
		z-index 1000
		color #fff
		&.active
			visibility visible
			opacity 1
			z-index 1012
			
	.menu-sidebar
		width 300px
		height 100%
		overflow auto
		position fixed
		top 0
		background white
		z-index 1000
		transition all 0.45s ease
		visibility hidden
		&.active
			visibility visible
			.menu-link
				opacity 1
				transform translateY(0%)
	.menu-sidebar-cnt
		height 100%
	.menu-responsive
		// padding-top 10px
		height 100%
		display flex
		flex-direction column
		.menu-item
			font-size 16px
			width 100%
			margin 0
			overflow hidden
		.menu-link
			transition all 600ms ease
			opacity 0
			transform translateY(100%)
			color #989898
			height 60px
			display flex
			align-items center
			justify-content flex-start
			padding 0 15px
			// &.active
			// 	background-color #eaeaea
			// 	color #000
		@media screen and (max-height 400px)
			flex-flow wrap		
	.wrapper,.footer
		position relative
		// transition left 0.45s ease

	body
		&.active
			overflow hidden

	@media screen and (max-width:1024px)
		.wrapper,.footer
			transition all 0.45s ease
		.menu-mobile-open
			visibility visible
		.header
			.icon-search
				margin-right 50px
			.menu-list
				display none
			.header-logo
				width 130px		
			&.scrolling
				box-shadow 0px 0px 10px 0px rgba(0, 0, 0, 0.2)

.menu-item
	.menu-link
		position relative
		display flex
		align-items center
		height: 100%
		&:before 
			content ''
			display block
			position absolute
			left 0
			bottom 20px
			height 2px
			width 0
			transition width 0s ease background .25s ease
		&:after 
			content ''
			display block
			position absolute
			right 0
			bottom 20px
			height 2px
			width 0
			background c-11
			transition width .25s ease
		&:hover
			&:before
				width 100%
				background c-11
				transition width .5s ease
			&:after 
				width 100%
				background transparent
				transition all 0s ease

.menu-link
	position relative
	&:hover 
		& ~ div
			ul
				transition .5s
				transform translateY(0)
.menu-catalogo
	overflow hidden
	position absolute
	pointer-events none
	padding-bottom 25px
	width 100%
	left 0
	height 136px
	.menu-catalogo-wrap
		pointer-events auto
		transition .5s
		transform translateY(-150px)
		background white
		-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
	&:hover
		.menu-catalogo-wrap
			transition .5s
			transform translateY(0)
.menu-item-cnt
	display flex !important
	align-items center
.menu-catalogo-text
	text-transform uppercase
	padding-left 10px
.menu-catalogo-wrap
	height 100%
	display flex
	justify-content center
	align-items center
.menu-img img
	width 100px
	height auto
.menu-catalogo-item
	display flex
	margin 0
	padding 0 15px
	opacity .55
	transition all .25s ease
	&:hover
		opacity 1
		transition all .25s ease





.wancho-0
	height 0
	position absolute
	left 0
	right 0
	top 0
.menu-desktop
	max-width 374px
	padding-left 51px
	background-color white
	padding-top 97px
	position absolute
	padding-top 110px
	top 0
	width 100%
	right 0
	box-sizing border-box
	box-shadow 1px 1px 6px 3px #aba8a833
	padding-bottom 40px
	transform translateY(-100%)
	transition all .75s ease
	&.active
		transform translateY(0)
		.menu-desktop__1
		.menu-desktop__2
			a
				transform translate(0)
				opacity  1		
		.menu-desktop__3
			i
				transform translate(0)
				opacity  1
.menu-desktop__1
	li
		margin-bottom 16px
	a
		font-size 16px
		color c-0
		font-family t-3
		opacity 0
		transition all .7s ease .5s
		display block
		transform translateY(-40px)
.menu-desktop__2
	margin-top 30px
	li
		margin-bottom 5px
	a
		font-size 14px
		display block
		opacity 0.6
		font-family t-2
		opacity 0
		transition all .7s ease .7s
		display block
		transform translateY(-40px)

.menu-desktop__3
	display flex
	padding-top 20px
	li
		margin 0
		margin-right 15px
	I
		font-size 20px 
		opacity 0
		transition all .7s ease .9s
		display block
		transform translateY(-40px)

.close-desktop-header
	font-size: 20px;
	position: absolute;
	top: 38px;
	right: 80px;
	z-index: 9999999999;