@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nvqfgo');
  src:  url('fonts/icomoon.eot?nvqfgo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nvqfgo') format('truetype'),
    url('fonts/icomoon.woff?nvqfgo') format('woff'),
    url('fonts/icomoon.svg?nvqfgo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icomoon:before {
  content: "\e91a";
}
.icon-buscar:before {
  content: "\e900";
}
.icon-cerrar:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-corazon-staff:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
}
.icon-flecha-regresar:before {
  content: "\e905";
}
.icon-flecha-slider-derecha:before {
  content: "\e906";
}
.icon-flecha-slider-izquierda:before {
  content: "\e907";
}
.icon-flecha:before {
  content: "\e908";
}
.icon-footer-facebook:before {
  content: "\e909";
}
.icon-footer-instagram:before {
  content: "\e90a";
}
.icon-footer-pinterest:before {
  content: "\e90b";
}
.icon-footer-youtube .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-footer-youtube .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-footer-youtube .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-footer-youtube .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-footer-youtube .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(1, 0, 2);
}
.icon-inspiracion-descargar:before {
  content: "\e911";
}
.icon-inspiracion-share-facebook:before {
  content: "\e912";
}
.icon-inspiracion-share-instagram:before {
  content: "\e913";
}
.icon-inspiracion-share-pinterest:before {
  content: "\e914";
}
.icon-inspiracion-share:before {
  content: "\e915";
}
.icon-menu1:before {
  content: "\e916";
}
.icon-scroll:before {
  content: "\e917";
}
.icon-tiendas-googlemaps:before {
  content: "\e918";
}
.icon-tiendas-waze:before {
  content: "\e919";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
