@font-face {
  font-family: 'GnuolaneRg-Regular';
  src: url('../fonts/GnuolaneRg-Regular.svg#GnuolaneRg-Regular') format('svg'),
       url('../fonts/GnuolaneRg-Regular.ttf') format('truetype'),
       url('../fonts/GnuolaneRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gnuolane-rg';
  src: url('../fonts/gnuolane-rg.eot');
  src: url('../fonts/gnuolane-rg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gnuolane-rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/Gotham-BoldItalic.eot');
  src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg'),
       url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
       url('../fonts/Gotham-BoldItalic.woff') format('woff'),
       url('../fonts/Gotham-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg'),
       url('../fonts/Gotham-Light.ttf') format('truetype'),
       url('../fonts/Gotham-Light.woff') format('woff'),
       url('../fonts/Gotham-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/Gotham-Medium.woff') format('woff'),
       url('../fonts/Gotham-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MillerDisplay-Light';
  src: url('../fonts/MillerDisplay-Light.svg#MillerDisplay-Light') format('svg'),
       url('../fonts/MillerDisplay-Light.ttf') format('truetype'),
       url('../fonts/MillerDisplay-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'millerdisplay-light';
  src: url('../fonts/millerdisplay-light.eot');
  src: url('../fonts/millerdisplay-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/millerdisplay-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}